<div class="container-fluid dashboard-tabs">
  <div class="col-md-12 no-padding">
    <div class="col-md-9">
        <ul class="nav nav-pills">
            <li class="relative" [ngClass]="{'active': activeTab === 1}" (click)="selectTab($event, 1);enablesSelect=false" data-tab="all">
            <a href="#">All Orders ({{dashboardCounts.allOrders}})</a>
            <!--<div class="DbCount all">{{dashboardCounts.allOrders}}</div>-->
            </li>
            <ng-container *ngIf="environment.userType == 'admin'">
                <li class="relative" [ngClass]="{'active': activeTab === 4}" (click)="selectTab($event, 4)" data-tab="vendorGroup" (click)="enablesSelect=true">
                    <a href="#" style="color: #000;">
                        <ng-container *ngIf="enablesSelect else hiddenSelect">
                            <select class="form-control m-top-1" [(ngModel)]="selectedVendorGroup" #editTableCell="ngModel" (ngModelChange)="selectVendor($event)" style="padding: 0;margin:0;height:22px">
                                <option [ngValue]="undefined" disabled selected>Select a vendor group</option>
                                <option *ngFor="let x of vendorsList" [ngValue]="x.id">{{x.value}}</option>
                            </select>
                        </ng-container>
                        <ng-template #hiddenSelect>
                            Select Vendor Group
                        </ng-template>
                    </a>
                </li>
            </ng-container>
            <ng-container *ngIf="!environment.userType">
            <li class="relative" [ngClass]="{'active': activeTab === 2}" (click)="selectTab($event, 2)" data-tab="sla">
            <a href="#">Action Required ({{dashboardCounts.actionRequired}})</a>
            <!--<div class="DbCount action">{{dashboardCounts.actionRequired}}</div>-->
            </li>
            <li class="relative" [ngClass]="{'active': activeTab === 3}" (click)="selectTab($event, 3)" data-tab="alert">
            <a href="#">High Alert ({{dashboardCounts.highAlert}})</a>
            <!--<div class="DbCount alertC">{{dashboardCounts.highAlert}}</div>-->
            </li>
            </ng-container>
        </ul>
    </div>

    <div class="col-md-3 searchbox dt searchboxpt" style="" *ngIf="!isMobile">
          <form name="form" (ngSubmit)="f.form.valid && search($event)" #f="ngForm" novalidate>
               <div class="relative">
                  <input  type="submit" class="btn btn-primary pull-right" style="" value="Search"/>
                  <div class="glyphicon glyphicon-remove abs searchCross" aria-hidden="true"  *ngIf="searchModel.searchkey" (click)="clearSearch($event)" ></div>
               </div>
               <input name="searchkey" type="text" class="input-right form-control pull-right" placeholder="Order Number" [(ngModel)]="searchModel.searchkey" #searchkey="ngModel" style="width:60%; margin-right:0.5em;" [ngClass]="{'inputError':(f.submitted && !searchkey.valid)}" required>
               <!--<div *ngIf="f.submitted && !searchkey.valid" class="help-block"></div>-->
          </form>
    </div>

    <div class="col-md-12 mob" style="background: #f2f2f2; padding: 1em 1em 0;" *ngIf="isMobile">
        <form name="form" (ngSubmit)="f.form.valid && search($event)" #f="ngForm" novalidate>
            <div class="relative">
                <div class="glyphicon glyphicon-remove abs searchCross" aria-hidden="true" *ngIf="searchModel.searchkey" (click)="clearSearch($event)" ></div>
            </div>

            <div class="input-group">
                <input name="searchkey" type="text" class="form-control" placeholder="Order Number" [(ngModel)]="searchModel.searchkey" #searchkey="ngModel" style="" required>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

            <div *ngIf="f.submitted && !searchkey.valid" class="help-block"></div>
        </form>
    </div>

  </div>
</div>
