.dashboard-tabs {
    box-shadow: 0 1px 3px #888888;
}

.input-right {
    float: right;
    width: 90%;
}

.searchboxpt {
    padding-top: 9px;
}

.searchbox{
    /*width: 25em;*/
    right: 0;
    top: -0.2em;
    position: absolute;
}

.searchCross{
    top: 0.7em;
    right: 6em;
}

.mob .searchCross{
    right: 22% ! important;
    border-radius: 50%;
    background: #f2f2f2;
    z-index: 999;
    padding: 0.4em;
    top: 1.1em ! important;
}

/*--------------------------------------------------------------------*/
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #C3404E;
    background-color: transparent;
}
.nav-pills > li > a {
    border-radius:0px;
    color: #000;
    font-weight: bold;
    background-color: transparent;
}
.nav-pills > li:nth-child(2) > a {
    color: #25C355;
}
.nav-pills > li:nth-child(3) > a {
    color: #C3404E;
}

/*--------------------------------------------------------------------*/
