<div class="container">
  <div class="row m-top-1">
    <div class="col-sm-4">
      <mat-card>
        <h4>Edit Account</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Display Name</mat-label>
          <input type="text" matInput [(ngModel)]="display_name" placeholder="Enter Display Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="text" matInput [(ngModel)]="email" placeholder="Enter New Email" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput [(ngModel)]="mobile_number" placeholder="Enter New Phone Number" value="" (paste)="validateMob($event)"  minlength=10 maxlength=10 (keypress)="validateMob($event)">
        </mat-form-field>
        
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button (click)="onEdit()">Submit</button>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <h4>Change Password</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Old Password</mat-label>
          <input type="password" matInput [(ngModel)]="old_password" placeholder="Enter Old Password" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>New Password</mat-label>
          <input type="password" matInput [(ngModel)]="password" placeholder="Enter New Password" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput [(ngModel)]="confirm_password" placeholder="Confirm New Password" value="">
        </mat-form-field>
        <p style="color: red;" *ngIf="old_password && confirm_password && !isValidePassword()">
          New password did not match
        </p>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button (click)="onSubmit()">Submit</button>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>