<div class="actual-img-container">
        <h5>Please Select Items to be delivered</h5>
        <ng-container *ngIf="data && data.length > 0">
            <div class="actual-img">
                <ng-container *ngFor="let x of data;">
                    <ng-container *ngFor="let imgSrc of x.orderProducts; let i=index">
                        <div class="actual-img-item">
                            <div class="actual-img-checkbox">
                                <mat-checkbox class="example-margin" [(ngModel)]="checked[i]"
                                    (ngModelChange)="selectItemForDelivery(i)">
                                </mat-checkbox>
                            </div>
                            <img class="product-image clk"
                                src="{{productsURL}}th/{{imgSrc.productImage}}?th={{imgSrc.productUpdateDateTime}}"
                                alt="product_img">
                        </div>
    
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <button mat-raised-button (click)="submit()">Submit</button>
    </div>