.table-data {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 5px;
    font: bold 20px arial, sans-serif;
    background-color: #565656;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

ul.table-data>li {
    padding: 14px;
    /* background: green; */
    margin: 2px;
}

ul.table-data>li:nth-child(odd) {
    background: #cccccc;
}

ul.table-data>li:nth-child(even) {
    background: #f2f2f2;
}
.mat-datepicker-toggle{
    font-size: 20px;
}
/* .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  } */
button[type=submit]{
    background: #C3404E;
    color: #fff;
} 
button[disabled]{
    background: #C3404E !important;
    color: #fff !important;
    opacity: 0.5;
} 