.table-data {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 5px;
    font: bold 16px arial, sans-serif;
    background-color: #565656;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.table-data-vendor {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 5px;
    /* font: bold 16px arial, sans-serif; */
    background-color: #565656;
    /* text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

ul.table-data>li {
    padding: 14px;
    margin: 2px;
}

ul.table-data-vendor>li {
    padding: 8px;
    margin: 2px;
}

ul.table-data>li:nth-child(odd) {
    background: #cccccc;
}

ul.table-data-vendor>li:nth-child(odd) {
    /* background: #cccccc; */
}
ul.table-data-vendor>li {
    box-shadow: 0px 1px 3px 0px #ccc;
}
ul.table-data>li:nth-child(even) {
    background: #f2f2f2;
}

ul.table-data-vendor>li:nth-child(even) {
    background: #f2f2f2;
}
.mat-datepicker-toggle{
    font-size: 20px;
}
/* .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  } */
button[type=submit]{
    background: #C3404E;
    color: #fff;
} 
button[disabled]{
    background: #C3404E !important;
    color: #fff !important;
    opacity: 0.5;
} 
.resetBtn{
    margin: 0px;
    width: 100px;
    color: #ff0000;
    cursor: pointer;
}
.loader-container {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    background: #ccc;
    top:-4px;
}