.border-right{
    border-right: 1px solid rgb(105, 105, 105);
}

.card-h-1{
    min-height: 50vh;
}

.width-100{
    width: 100%;
}

.btnRadius {
    margin: 10px;
    border-radius: 5px;
}

.badge {
    position: absolute;
    background-color: #c3404e;
}

.saveButton {
    background-color: #28a745;
    color: #fff
}

.mat-cell {
    text-align: center;
    justify-content: center;
}
.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label:hover {
    background-color: darken(#f15d22, 10%);
}

[type="file"]+label.btn-2 {
    background-color: #c3404e;
    border-radius: 50px;
    overflow: hidden;
}

/* [type="file"]+label.btn-2::before {
    color: #fff;
    content: '\f093';
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
} */

[type="file"]+label.btn-2:hover {
    background-color: #8a2630;
}

[type="file"]+label.btn-2:hover::before {
    right: 75%;
}