:host {
    font-size: 18px;
}

.main-container {
    /* margin-top: 58px; */
    /* margin-bottom: 28px; */
}

.search-container {
    margin: 0 auto;
    padding: 5px 16px;
}

.search-full-width {
    width: 100%;
}

.pick-up-container {
    margin: 0 8px;
}

.chip-box-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    font-size: 16px;
}

.chip-box {
    border: 1px solid;
    width: max-content;
    padding: 4px 6px;
    margin: 2px;
    float: left;
    border-radius: 16px;
}

.delivery-container {
    margin: 18px 8px;
}

.order-delivered-box {
    /* padding: 9px 12px; */
    /* border: 1px solid; */
    width: 50%;
    /* border-radius: 3px; */
    margin: 18px 8px;
}

.mat-menu-panel {
    min-width: 139px !important;
}

.mat-menu-panel.my-full-width-menu {
    max-width: none;
    width: 100vw;
    margin-left: -8px;
    margin-top: 24px;
}

.matmenu-btn {
    width: 160px;
}

.spinner {
    display: flex;
    justify-content: center;
    height: 600px;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 100px;
    align-items: center;
    opacity: 0.8;
}

.no-support-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}