.padding-extra {
    padding: 10px 20px 0;
}

.custom-date-picker {
    margin-top: 10;
}

.sla-message {
    color: #25C355;
    text-decoration: underline;
    font-weight: bold;
}

.container-fluid p {
    font-size: 15px;
}

.dashboard-content {
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 10px 0;
}

.table-wrapper {
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px #888888;
}

.dashboard-table {
    border: 2px solid #E0E0E0;
}

.dashboard-table > .row > .cell:nth-of-type(1) {
    /*font-size: 16px;*/
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-table > .row:nth-of-type(1) {
    /*font-size: 16px;*/
    font-weight: bold;
}

.cell {
    border: 2px solid #E0E0E0;
    height: 65px;
}

.out-for-delivery {
    line-height: 20px;
}

.cell-btn {
    padding: 10px!important;
}

.custom-button {
    margin-top: -5px;
    border-radius:0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: 0 1px 3px #888888;
}

.custom-btn-parent {
    padding-left:0.5em;
    padding-right:0.5em;
}

.line-height {
    line-height: 200%;
}

.alert-action {
    border-left: 15px solid #C3404E;
}

.alertg-action {
    border-left: 15px solid #25C355;
}

.no-action {
    border-left: 15px solid white;
}

.no-ofd-label{
    /*margin-left: 1em;*/
    /*margin-top: 1.5em;*/
}

.no-ofd-label-cont{
    position: absolute;
    top: 38%;
    left: 2%;
}

.deliverOrdered1{
    position:absolute;
    left:1.5em;
    top:1.4em;
}

.deliverOrdered2{
    margin-left:20em;
    margin-top: 1.2em;
}

/*Mobile css - start*/
.dbMobile{
    font-size:1.5em;
}

.topSection{
    background:#f2f2f2;

    padding: 0.1em 0 0.2em;
    /*-moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);*/
}

.dbMobile .vendor-detail{
    /*font-size: 1.5em;*/
}

.dbMobile .tableSection .leftLabel{
    border-bottom:1px solid #f2f2f2;
    font-weight: 600;
    padding: 1.5em 1em;
    border-bottom: 1px solid #f2f2f2;
    /*font-size: 1.5em;*/
}

.dbMobile .allOrderRow{
    background:#fdeff1;
    padding: 0.5em;
}

.dbMobile .allOrderBtn{
    border-radius: 0;
    width: 100%;
    border-color: #C3404E! important;
}

.dbMobile .labelContent{
    background:#fdeff1;
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.dbMobile .topLabel{
    padding: 0 0.5em;
}

.dbMobile .labelContentCell{
    border-bottom: 3px solid #fff;
    padding: 0.7em 1.6em 0.7em 1.6em;
}

.dbMobile .bottomSection{
    border-top: 2px solid #fff;
}

.mobileOrderIdBlockCont{
    padding-bottom: 0.2em;
    overflow: auto;
    white-space: nowrap;
}

.mobileOrderIdBlock{
    display: inline-block;
    margin-right: 1em;
}
/*Mobile css - end*/

.leftSperator{
    border-left:3px solid #fff;
}