<div class="headerVendor navbar-brand" *ngIf="vendorName">- {{vendorName}}</div>
<app-header-tabs (onTabChanged)="loadDashboardCount($event)" [dashboardCounts]="dashboardData.counts"></app-header-tabs>

<div class="col-md-3 searchbox" style="">
    <form name="form" (ngSubmit)="f.form.valid && search($event)" #f="ngForm" novalidate>
        <div class="relative">
            <input  type="submit" class="btn btn-primary pull-right" style="" value="Search" />
            <div class="glyphicon glyphicon-remove abs searchCross" aria-hidden="true" *ngIf="searchModel.searchkey" (click)="clearSearch($event)" ></div>
        </div>
        <input name="searchkey" type="text" class="input-right form-control pull-right" placeholder="Order Number" [(ngModel)]="searchModel.searchkey" #searchkey="ngModel" style="width:60%;" required>
        <div *ngIf="f.submitted && !searchkey.valid" class="help-block"></div>
    </form>
</div>

<div class="container-fluid dashboardTable">
  <div class="row padding-extra dbTableHeader">
    <p>Hi {{vendorName}} !</p>
    <p>Below is the schedule of orders you need to fulfil</p>
  </div>
  <div class="row dashboard-content">
    <div class="col-md-12">
      <div class="table-wrapper">
        <div class="container-fluid dashboard-table" *ngIf="dashboardData">
          <!--Table header-->
          <div class="row">
            <div class="cell col-md-2 table-display">
               <div class="table-cell-display v-align-middle"> Order Type</div>
            </div>


              <div class="cell center-align table-display col-md-2" [ngClass]="{'a' : dashBoardlabel.deliveryTimes != 'bydate', 'bydateWidth' : dashBoardlabel.deliveryTimes == 'bydate'}" *ngFor="let dashBoardlabel of dashboardData.topLabels">

                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes =='tomorrow'">{{dashBoardlabel.labelName}}</div>
                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes !='bydate' && dashBoardlabel.deliveryTimes !='tomorrow'">{{dashBoardlabel.labelName}}</div>
                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes =='bydate'">
                    <div class="col-md-4 no-padding" style="margin-top: 8px;">{{dashBoardlabel.labelName}} </div>
                    <div class="col-md-8 no-padding custom-date-picker">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateRange" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    </div>
                </div>
              </div>


          </div>

          <!--Table content-->
          <div class="row">
            <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['new'].isAlert, 'alertg-action': (!isRowAlert['new'].isAlert && isRowAlert['new'].sla), 'no-action': (!isRowAlert['new'].isAlert && !isRowAlert['new'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[0]}} ({{dashboardData.counts.newOrders}})</div>
              <!--<div class="DbCount" *ngIf="dashboardData.counts.newOrders">{{dashboardData.counts.newOrders}}</div>-->
            </div>

            <div *ngFor="let dashBoardCount of dashboardData.new; let i='index'" [attr.data-index]="i" >
                <div class="cell col-md-2" [ngClass]="{'a' : dashBoardCount.deliveryTimes !='bydate', 'b' : dashBoardCount.deliveryTimes =='bydate', 'custom-btn-parent': dashBoardCount.ordersCount, 'center-align': !dashBoardCount.ordersCount, 'inactive' : dashBoardCount.inactive}">
                    <app-orders-button [displayData]="dashBoardCount" [orderStatus]="dashBoardCount.status" [OrderDay]="dashBoardCount.day" [deliveryTime]="dashBoardCount.deliveryTimes" *ngIf="dashBoardCount.ordersCount" (onViewOrders)="viewOrders($event)">
                        <app-button-view [viewData]="dashBoardCount.ordersCount"></app-button-view>
                    </app-orders-button>
                    <app-no-orders [viewData]="dashBoardCount.ordersCount" [orderStatus]="'new'"></app-no-orders>
                </div>
            </div>

          </div>

          <div class="row">
          <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['confirmed'].isAlert, 'alertg-action': (!isRowAlert['confirmed'].isAlert && isRowAlert['confirmed'].sla), 'no-action': (!isRowAlert['confirmed'].isAlert && !isRowAlert['confirmed'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[1]}} ({{dashboardData.counts.confirmedOrders}})</div>
              <!--<div class="DbCount" *ngIf="dashboardData.counts.confirmedOrders">{{dashboardData.counts.confirmedOrders}}</div>-->
          </div>


          <div *ngFor="let dashBoardCount of dashboardData.confirmed; let i='index'" [attr.data-index]="i">
              <div class="cell col-md-2" [ngClass]="{'a' : dashBoardCount.deliveryTimes !='bydate', 'b' : dashBoardCount.deliveryTimes =='bydate', 'custom-btn-parent': dashBoardCount.ordersCount, 'center-align': !dashBoardCount.ordersCount, 'inactive' : dashBoardCount.inactive}">
                  <app-orders-button [displayData]="dashBoardCount" [orderStatus]="dashBoardCount.status" [OrderDay]="dashBoardCount.day" [deliveryTime]="dashBoardCount.deliveryTimes" *ngIf="dashBoardCount.ordersCount" (onViewOrders)="viewOrders($event)">
                    <app-button-view [viewData]="dashBoardCount.ordersCount"></app-button-view>
                  </app-orders-button>
                  <app-no-orders [viewData]="dashBoardCount.ordersCount" [orderStatus]="'confirmed'"></app-no-orders>
              </div>
          </div>

          </div>

          <div class="row">
            <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['future'].isAlert, 'alertg-action': (!isRowAlert['future'].isAlert && isRowAlert['future'].sla), 'no-action': (!isRowAlert['future'].isAlert && !isRowAlert['future'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[2]}} ({{dashboardData.counts.ofdOrders}})</div>
              <!--<div class="DbCount" *ngIf="dashboardData.counts.ofdOrders">{{dashboardData.counts.ofdOrders}}</div>-->
            </div>

            <div class="cellNoHeight cell col-md-10 no-padding">
              <div class="col-md-9 no-padding">
                <div class="col-md-3 custom-btn-parent" *ngFor="let order of dashboardData.ofd; let i='index'" [attr.data-index]="i" [ngClass]="{'inactive' : order.inactive}">
                  <app-orders-button [orderId]="order.orderNumber" [displayData]="order" [orderStatus]="order.status" [OrderDay]="" [deliveryTime]="masterData.deliveryTimes[5]" (onViewOrders)="viewOrders($event)" *ngIf="i<4">
                    <div>{{order.orderNumber}}</div>
                  </app-orders-button>
                </div>
              </div>

              <div class="col-md-3 underline center-align" *ngIf="dashboardData.ofd.length" style="padding: 1.5em 0 0;">
                <a href="#" (click)="openPanel($event, masterData.status[2])"> View all out for delivery orders</a>
              </div>

                <div class="col-md-12 no-padding no-ofd-label-cont" *ngIf="!dashboardData.ofd.length">
                    <div class="no-ofd-label">Currently there are no orders out for delivery</div>
                </div>
            </div>
          </div>
          <div class="row">
          <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['bydate'].isAlert, 'alertg-action': (!isRowAlert['bydate'].isAlert && isRowAlert['bydate'].sla), 'no-action': (!isRowAlert['bydate'].isAlert && !isRowAlert['bydate'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[3]}} ({{dashboardData.delivered.total+dashboardData.delivered.today}})</div>
          </div>

            <div class="cellNoHeight cell col-md-10">
              <div class="row">
                <div class="col-md-7 relative" style="font-size: 1.1em;">
                  <div class="deliverOrdered1" style="">Orders already delivered : <span class="text-bold">{{dashboardData.delivered.total}}</span></div>
                  <div class="deliverOrdered2" style="">
                    <div class="line-height">Orders yet to be delivered : <span class="text-bold">{{dashboardData.delivered.today}}</span></div>
                  </div>
                </div>
                <div class="col-md-5" *ngIf="dashboardData.delivered.total" style="padding: 1.5em 0 0;">
                  <div class="btn btn-primary custom-button underline" (click)="openPanel($event, masterData.status[3])">
                    View all delivered orders
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-content no-padding">
    <div class="padding-extra">
      <!--<p class="sla-message">* Warning Message in case of breach in SLA. Clicking on this opens up the breached orders list</p>-->
    </div>
  </div>
</div>

<app-orders-action-tray (onStatusUpdate)="loadDashboardCount($event)" (onOfdView)="switchOfdData(prodOrderstatus)">
  
</app-orders-action-tray>
