<div class="headerVendor navbar-brand" *ngIf="vendorName">- {{vendorName}}</div>
<app-header-tabs (onTabChanged)="loadDashboardCount($event)"></app-header-tabs>

<div class="col-md-3 searchbox relative" style="width: 25em; right: -4em; top: 4em; position: absolute;">
    <form name="form" (ngSubmit)="f.form.valid && search($event)" #f="ngForm" novalidate>
         <input name="searchkey" type="text" class="input-right form-control" placeholder="Order Number" [(ngModel)]="searchModel.searchkey" #searchkey="ngModel" style="width:60%; display:inline-block;" required>
        <input  type="submit" class="btn btn-primary" style="display:inline-block;" value="Search" />
        <div class="glyphicon glyphicon-remove abs searchCross" aria-hidden="true" *ngIf="searchModel.searchkey" (click)="clearSearch($event)" ></div>
        <div *ngIf="f.submitted && !searchkey.valid" class="help-block"></div>
    </form>
</div>

<div class="container-fluid">
  <div class="row padding-extra">
    <p>Hi {{vendorName}} !</p>
    <p>Below is the schedule of orders you need to fulfil</p>
  </div>
  <div class="row dashboard-content">
    <div class="col-md-12">
      <div class="table-wrapper">
        <div class="container-fluid dashboard-table" *ngIf="dashboardData">
          <!--Table header-->
          <div class="row">
            <div class="cell col-md-2 table-display">
               <div class="table-cell-display v-align-middle"> Order Type</div>
            </div>


              <div class="cell center-align table-display col-md-2" [ngClass]="{'a' : dashBoardlabel.deliveryTimes != 'bydate', 'bydateWidth' : dashBoardlabel.deliveryTimes == 'bydate'}" *ngFor="let dashBoardlabel of dashboardData.topLabels">

                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes =='tomorrow'">{{dashBoardlabel.labelName}}</div>
                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes !='bydate' && dashBoardlabel.deliveryTimes !='tomorrow'">{{dashBoardlabel.labelName}}</div>
                <div class="table-cell-display v-align-middle" *ngIf="dashBoardlabel.deliveryTimes =='bydate'">
                    <div class="col-md-4 no-padding" style="margin-top: 8px;">{{dashBoardlabel.labelName}} </div>
                    <div class="col-md-8 no-padding custom-date-picker">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateRange" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    </div>
                </div>
              </div>


          </div>

          <!--Table content-->
          <div class="row">
            <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['new'].isAlert, 'alertg-action': (!isRowAlert['new'].isAlert && isRowAlert['new'].sla), 'no-action': (!isRowAlert['new'].isAlert && !isRowAlert['new'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[0]}}</div>
          </div>

            <div *ngFor="let dashBoardCount of dashboardData.new; let i='index'" [attr.data-index]="i" >
                <div class="cell col-md-2" [ngClass]="{'a' : dashBoardCount.deliveryTimes !='bydate', 'b' : dashBoardCount.deliveryTimes =='bydate', 'custom-btn-parent': dashBoardCount.ordersCount, 'center-align': !dashBoardCount.ordersCount}">
                    <app-orders-button [displayData]="dashBoardCount" [orderStatus]="dashBoardCount.status" [OrderDay]="dashBoardCount.day" [deliveryTime]="dashBoardCount.deliveryTimes" *ngIf="dashBoardCount.ordersCount" (onViewOrders)="viewOrders($event)">
                        <app-button-view [viewData]="dashBoardCount.ordersCount"></app-button-view>
                    </app-orders-button>
                    <app-no-orders [viewData]="dashBoardCount.ordersCount" [orderStatus]="'new'"></app-no-orders>
                </div>
            </div>


            <!--<div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.today.ordersCount, 'center-align': !dashboardData.new.today.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.today" [orderStatus]="masterData.status[0]" [deliveryTime]="masterData.deliveryTimes[0]" *ngIf="dashboardData.new.today.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.new.today.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.today.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.tomorrow.ordersCount, 'center-align': !dashboardData.new.tomorrow.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.tomorrow" [orderStatus]="masterData.status[0]" [deliveryTime]="masterData.deliveryTimes[1]" *ngIf="dashboardData.new.tomorrow.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.new.tomorrow.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.tomorrow.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.future.ordersCount, 'center-align': !dashboardData.new.future.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.future" [orderStatus]="masterData.status[0]" [deliveryTime]="masterData.deliveryTimes[2]" *ngIf="dashboardData.new.future.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.new.future.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.future.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-3" [ngClass]="{'custom-btn-parent': dashboardData.new.bydate.ordersCount, 'center-align': !dashboardData.new.bydate.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.bydate" [orderStatus]="masterData.status[0]" [deliveryTime]="masterData.deliveryTimes[3]" *ngIf="dashboardData.new.bydate.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.new.bydate.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.bydate.ordersCount"></app-no-orders>
            </div>-->

          </div>

          <div class="row">
          <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['confirmed'].isAlert, 'alertg-action': (!isRowAlert['confirmed'].isAlert && isRowAlert['confirmed'].sla), 'no-action': (!isRowAlert['confirmed'].isAlert && !isRowAlert['confirmed'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[1]}}</div>
          </div>


          <div *ngFor="let dashBoardCount of dashboardData.confirmed; let i='index'" [attr.data-index]="i">
              <div class="cell col-md-2" [ngClass]="{'a' : dashBoardCount.deliveryTimes !='bydate', 'b' : dashBoardCount.deliveryTimes =='bydate', 'custom-btn-parent': dashBoardCount.ordersCount, 'center-align': !dashBoardCount.ordersCount}">
                  <app-orders-button [displayData]="dashBoardCount" [orderStatus]="dashBoardCount.status" [OrderDay]="dashBoardCount.day" [deliveryTime]="dashBoardCount.deliveryTimes" *ngIf="dashBoardCount.ordersCount" (onViewOrders)="viewOrders($event)">
                    <app-button-view [viewData]="dashBoardCount.ordersCount"></app-button-view>
                  </app-orders-button>
                  <app-no-orders [viewData]="dashBoardCount.ordersCount" [orderStatus]="'confirmed'"></app-no-orders>
              </div>
          </div>

            <!--<div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.today.ordersCount, 'center-align': !dashboardData.confirmed.today.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.today" [orderStatus]="masterData.status[1]" [deliveryTime]="masterData.deliveryTimes[0]" *ngIf="dashboardData.confirmed.today.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.confirmed.today.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.today.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.tomorrow.ordersCount, 'center-align': !dashboardData.confirmed.tomorrow.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.tomorrow" [orderStatus]="masterData.status[1]" [deliveryTime]="masterData.deliveryTimes[1]" *ngIf="dashboardData.confirmed.tomorrow.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.confirmed.tomorrow.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.tomorrow.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.future.ordersCount, 'center-align': !dashboardData.confirmed.future.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.future" [orderStatus]="masterData.status[1]" [deliveryTime]="masterData.deliveryTimes[2]" *ngIf="dashboardData.confirmed.future.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.confirmed.future.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.future.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-3" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.bydate.ordersCount, 'center-align': !dashboardData.confirmed.bydate.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.bydate" [orderStatus]="masterData.status[1]" [deliveryTime]="masterData.deliveryTimes[3]" *ngIf="dashboardData.confirmed.bydate.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.confirmed.bydate.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.bydate.ordersCount"></app-no-orders>
            </div>-->

          </div>

          <div class="row">
            <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['future'].isAlert, 'alertg-action': (!isRowAlert['future'].isAlert && isRowAlert['future'].sla), 'no-action': (!isRowAlert['future'].isAlert && !isRowAlert['future'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[2]}}</div>
            </div>

            <div class="cell col-md-10 no-padding">
              <div class="col-md-9 no-padding">
                <div class="col-md-3 custom-btn-parent" *ngFor="let order of dashboardData.ofd; let i='index'">
                  <app-orders-button [orderId]="order.orderNumber" [displayData]="order" [orderStatus]="order.status" [OrderDay]="" [deliveryTime]="masterData.deliveryTimes[5]" (onViewOrders)="viewOrders($event)" *ngIf="i<4">
                    <div>{{order.orderNumber}}</div>
                  </app-orders-button>
                </div>
              </div>

              <div class="col-md-3 underline center-align" *ngIf="dashboardData.ofd.length" style="padding: 1.5em 0 0;">
                <a href="#" (click)="openPanel($event, masterData.status[2])"> View All Out for delivery orders</a>
              </div>

                <div class="col-md-12 no-padding" *ngIf="!dashboardData.ofd.length">
                    <div class="no-ofd-label">No out for delivery Order</div>
                </div>
            </div>
          </div>
          <div class="row">
          <div class="cell col-md-2 table-display" [ngClass]="{'alert-action': isRowAlert['bydate'].isAlert, 'alertg-action': (!isRowAlert['bydate'].isAlert && isRowAlert['bydate'].sla), 'no-action': (!isRowAlert['bydate'].isAlert && !isRowAlert['bydate'].sla)}">
              <div class="table-cell-display v-align-middle">{{masterData.displayStatus[3]}}</div>
          </div>

            <div class="cell col-md-10">
              <div class="row">
                <div class="col-md-7">
                  <div class="line-height">Orders delivered today - {{dashboardData.delivered.total}}</div>
                  <div class="line-height">Total orders for today's delivery - {{dashboardData.delivered.today}}</div>
                </div>
                <div class="col-md-5" *ngIf="dashboardData.delivered.total" style="padding: 1.5em 0 0;">
                  <div class="btn btn-primary custom-button underline" (click)="openPanel($event, masterData.status[3])">
                    View all delivered orders
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-content no-padding">
    <div class="padding-extra">
      <!--<p class="sla-message">* Warning Message in case of breach in SLA. Clicking on this opens up the breached orders list</p>-->
    </div>
  </div>
</div>

<app-orders-action-tray (onStatusUpdate)="loadDashboardCount($event)">
  
</app-orders-action-tray>
