.reports-cont{
    background-color: #f2f2f2;
}

.reprts-search-fields{
    box-shadow: 0 1px 3px #888;
    border-radius: 0.5em;
}

.searchFiled .form-control{
    height:36px;
}

.reprts-summary{
    /*width: 24em;
    margin-left: 1em;*/
    box-shadow: 0 1px 3px #888;
    border-radius: 0.5em;
    height: 12.9em;
}

.summaryBlock{
    margin-top: 1.5em;
    font-size: 1.2em;
    width: 50%;
    text-align: center;
}

.searchFields{
    width:100%;
}

.searchFields2 .searchFields{
    width:75%;
}

.searchFieldsSubmit{
    width: 24%;
}

.table-lables{

}

.table-data{

}

.searchFiled {
    margin: 0.1em 0.5em;
    width: 22.9% ! important;
}

.searchFieldsSubmit{
    bottom: 0.5em;
    position: absolute;
    right: 1em;
}

.searchFields2 .searchFieldsSubmit{
    bottom: auto;
    position: static;
    right: auto;
}

.report-table{
    background: #fff;
    border-radius: 0.5em;
}

.report-table thead{

}

.report-table th, .report-table td{
    text-align: center;
    /*line-height: 3em;*/
    padding: 2em 0.2em;
}

.table-curved {
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
}

.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    position:relative;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

.searchSubmitBtn{
    border-radius: 0 ! important;
    padding: 0.5em 8em ! important;
    border-color: transparent ! important;
    font-size: 14px ! important;
}

.searchFiled .mydp .selector {
    margin-left: 0em ! important;
}

.mydp .selector {
    margin-left: 0 ! important;
}

.sortIcons{
 line-height:10px;
 display: inline-block;
 /*transform: translate(0,4px);*/
}

.reportDate{
    width:10% ! important;
}

.searchValidationError{
    top: 1.5em;
    position: absolute;
    left: 37%;
}

.searchSortDd{
    /*box-shadow: 0 1px 3px #888;*/
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
    /*height: 100%;*/
    width: 0em;
    background: #fff;
    color: #000;
    padding: 0;
    top: 4.5em;
    z-index: 9999;
    display:none;
    visibility: hidden;

    /*transform: scale(0);
    transition: transform 0.7s cubic-bezier(.5,0,.3,1);*/

    /*visibility: hidden;
    -webkit-transition: opacity 900ms, visibility 900ms;
    transition: opacity 900ms, visibility 900ms;*/
}

.searchSortDd.ddOpen{
   /* display:block;
    transform: scale(1);*/

    /*visibility: visible;
    opacity: 1;*/

    display: block;
    visibility: visible;
    opacity: 1;
    width:16em;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
        width:0;
    }

    100% {
        opacity: 1;
        width:16em;
    }
}

.searchSortDd.ddleft{
    left: 0 ! important;
    transform: none;
}

.searchSortDd.ddRight{
    right: 0 ! important;
    transform: none;
    left:auto ! important;
}

.selectedHeader{
    background: #fff;
    color: #000;
    -webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;

    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}

.colSearchSubmitBtn{
    width: 100%;
    margin-top: 0.5em;
    border-radius: 0;
}

.colSearchPadding{
    padding: 0 5px ! important;
}

.colSearchPadding.filter{
    padding: 5px ! important;
}

.removeFilter{
    left: 38%;
    position: absolute;
    top: 65%;
}

/* fixed header - start */
.table-area {
    position: relative;
    z-index: 0;
    /*margin-top: 50px;*/
}

table.fixed-header {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
}

table.fixed-header thead {
    position: absolute;
    /* top: -5.5em; */
    /* left: 0; */
    /* right: 10px; */
    width: 98%;
    table-layout: fixed;
    display: table;
}

table.fixed-header td {
    line-height: 2em;
}

table.fixed-header tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
}

/*table.fixed-header tr > td,
table.fixed-header th {
    text-align: left;
}*/
/* fixed header - end */

.tableactBtn{
    display:none;
    /*display: inline-block;*/
    padding: 0.4em 0.5em;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background: transparent;
    color: #000;
    white-space: nowrap;
    /*margin-top: 0.5em;*/
    /* box-shadow: 0 1px 3px #888; */
}

.reportTableCell:hover .tableactBtn{
    display:inline-block;
}

.reporTableRow:hover .tableactBtn{
    display:inline-block;
}

.tableactBtn:hover .tableactBtntxt{
    color: #C3404E;
}

.tableDataAction{
    width:100%;
    position:absolute;
    bottom:0;
    /*left:50%;*/
    /*transform: translateX(-50%);*/
}

.updateTxt{
    color: #fff;
    width: 100%;
    top: 0;
    position: absolute;
    background: #020202f2;
    height: 100%;
    z-index:99;
}

.updateTxtMain{
    /*margin-top: 2em;*/
    /*font-weight: 500;*/
    /*letter-spacing: 2px;*/
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.tdTxt{
    /*position:absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform: translate(-50%, -50%);*/
}

.summaryLabel{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dbTableHeader{
    background: #fff;
}
/* pdf start*/
.pdfSection{
    height: 100vh;
    width: 70%;
    background: #fff;
    position: fixed;
    z-index: -1;
    padding: 2em;
    top: 0;
    left: 15%;
}

.pdfHead{
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.pdfAddr{
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    width:100%;
}

.pdfAddr .leftSide, .pdfAddr .rightSide{
    width:50%
}

.pdfTable{
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.pdfFooter{
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.vendorName{
    font-size:2em;
}

.pdfSection table thead th, .pdfSection table tr td{
    padding:0.5em ! important;
    text-align:center;
}
/* pdf end*/

.reportDwld{
    margin-bottom: 0.5em;
    margin-right: 3px;
}

table thead th{

    white-space: nowrap;
}

.searchFields2 .addActionBtn{
    position:absolute;
    right:0.7em;
    top:0.5em;
}

.searchFields2 .addActionBtn.add-pincode-vendor{
  position: relative;
  float: right;
  margin-right: 1em;
}

.custom-select.multi-select{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.blog-image-upload{
    /* position: relative; */
    margin-bottom: 1.5em;
    width: 0;
}

.blog-image-upload:after{
    position: absolute;
    width: auto;
    min-height: 100%;
    background: #c3404e;
    color: #ffffff;
    content: 'Add Image +';
    left: 0;
    top: 0;
    padding: 10px;
    white-space: nowrap;
    border-radius: 5px;
}

/* Upload Excel css */
.error-section{
    width: 30%;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    border-left: 6px solid rgba(224, 224, 224, .5);
    transition: all 0.7s ease;
    padding: 0.5em 1em;
}

.show-error-section {
    right: -30%;
}

.hide-error-section {
    right: -70%;
}

.errorCont{
    box-shadow: 0 1px 3px #888;
    padding: 0.5em;
    background: #fff;
    margin-top: 0.5em;
}

.count{
    font-size:1.5em;
    padding: 0.2em 0.5em;
    border: 1px solid #eee;
    background: #fff;
    text-align:center;
}
.add-delivery-boy-btn {
    float: right;
    margin: -2px 5px;
}


.search-container{
    width: 100%;
    position: relative;
}
#dropDownContainer{
    position: absolute;
    z-index: 1000;
    width: 80%;
    top:40px;
    overflow: auto;
    max-height: 128px;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
}
.input-container {
    width: 50%;
}
