.reports-cont{
    background-color: #f2f2f2;
}

.reprts-search-fields{
    box-shadow: 0 1px 3px #888;
    border-radius: 0.5em;
}

.reprts-summary{
    width: 24em;
    margin-left: 1em;
    box-shadow: 0 1px 3px #888;
    border-radius: 0.5em;
    height: 12.9em;
}

.summaryBlock{
    margin-top: 1.5em;
    font-size: 1.2em;
    width: 9em;
    text-align: center;
}

.searchFields{
    width:75%;
}

.searchFieldsSubmit{
    width: 24%;
}

.table-lables{

}

.table-data{

}

.searchFiled {
    margin: 0.5em;
    width: 23% ! important;
}

.searchFieldsSubmit{

}

.report-table{
    background: #fff;
    border-radius: 0.5em;
}

.report-table thead{

}

.report-table th, .report-table td{
    text-align: center;
    /*line-height: 3em;*/
    padding: 2em 0;
}

.table-curved {
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
}

.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

.searchSubmitBtn{
    border-radius: 0 ! important;
    padding: 0.5em 2em ! important;
    border-color: transparent ! important;
    font-size: 1.2em ! important;
}

.searchFiled .mydp .selector {
    margin-left: 0em ! important;
}

.mydp .selector {
    margin-left: 0 ! important;
}

.sortIcons{
 line-height:10px;
 display: inline-block;
 /*transform: translate(0,4px);*/
}

.reportDate{
    width:10% ! important;
}

.searchValidationError{
    top: 1.5em;
    position: absolute;
    left: 37%;
}

.searchSortDd{
    /*box-shadow: 0 1px 3px #888;*/
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    right: 0;
    /*height: 100%;*/
    width: 0em;
    background: #fff;
    color: #000;
    padding: 0;
    top: 4.5em;
    z-index: 9999;
    display:none;
    visibility: hidden;

    /*transform: scale(0);
    transition: transform 0.7s cubic-bezier(.5,0,.3,1);*/

    /*visibility: hidden;
    -webkit-transition: opacity 900ms, visibility 900ms;
    transition: opacity 900ms, visibility 900ms;*/
}

.searchSortDd.ddOpen{
   /* display:block;
    transform: scale(1);*/

    /*visibility: visible;
    opacity: 1;*/

    display: block;
    visibility: visible;
    opacity: 1;
    width:16em;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
        width:0;
    }

    100% {
        opacity: 1;
        width:16em;
    }
}

.searchSortDd.ddleft{
    left: 0 ! important;
}

.selectedHeader{
    background: #fff;
    color: #000;
}

.colSearchSubmitBtn{
    width: 100%;
    margin-top: 0.5em;
    border-radius: 0;
}

.colSearchPadding{
    padding: 0 5px ! important;
}

.colSearchPadding.filter{
    padding: 5px ! important;
}

.removeFilter{
    left: 38%;
    position: absolute;
    top: 65%;
}

