<h4>New {{data['account_type']|titlecase}} Account</h4>
<form [formGroup]="newUser" (ngSubmit)="onSubmit(f)" name="newUser" #f="ngForm">
  <mat-form-field class="example-form-field">
    <mat-label>Associate Name</mat-label>
    <input matInput type="text" formControlName="associateName" required>
    <mat-error *ngIf="newUser.get('associateName').hasError('required')">
      Associate Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Contact Person</mat-label>
    <input matInput type="text" formControlName="contactPerson" required>
    <mat-error *ngIf="newUser.get('contactPerson').hasError('required')">
      Contact Person is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" required>
    <mat-error *ngIf="newUser.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="newUser.controls['email'].hasError('email') && !newUser.controls['email'].hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Address</mat-label>
    <input matInput type="text" formControlName="address" required>
    <mat-error *ngIf="newUser.get('address').hasError('required')">
      Address is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Phone</mat-label>
    <input matInput type="number" formControlName="phone" required>
    <mat-error *ngIf="newUser.get('phone').hasError('required')">
      Phone is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" required>
    <mat-error *ngIf="newUser.get('username').hasError('required')">
      User is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="newUser.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div style="margin-top: 20px;" class="button-group">
    <button type="submit" mat-raised-button>Submit</button>
    <button type="button" mat-raised-button (click)="onClear(f)">Clear</button>
  </div>
</form>