.side-container{
    position: fixed;
    top: 51px;
    right: 0px;
    width:50%;
    height: 100%;
    padding: 1em;
    box-shadow: 1px 1px 8px #999;
    z-index: 10;
    overflow: auto;
}
/* @keyframes mymove {
    from {right: 0%;}
    to {right: 0%;}
} */