.error-section {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    position: fixed;
    top: 58px;
    background-color: #F2F2F2;
    border-left: 6px solid rgba(224, 224, 224, .5);
    transition: all 0.7s ease;
    padding: 0.5em 1em;
}

.show-error-section {
    right: 0;
}

.hide-error-section {
    right: -30%;
}

.errorCont {
    box-shadow: 0 1px 3px #888;
    padding: 0.5em;
    background: #fff;
    margin-top: 0.5em;
}

.count {
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
}

.example-container {
    width: 100%;
}

.example-sidenav-content {}

.example-sidenav {
    padding: 8px;
}

mat-drawer-content {
    margin-left: 0 !important;
    flex: 1 1 auto;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 88%;
    margin: 0 auto;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #C3404E;
    color: white;
    text-transform: capitalize;
}