[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
    display: inline;
}

[type="file"]+label {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label:hover {
    background-color: darken(#c3404e, 10%);
}

[type="file"]+label.btn-2 {
    background-color: #c3404e;
    border-radius: 50px;
    overflow: hidden;
}

[type="file"]+label.btn-2:hover {
    background-color: #8a2630;
}

[type="file"]+label.btn-2:hover::before {
    right: 75%;
}

mat-cell:nth-child(3), mat-header-cell:nth-child(3), mat-cell:nth-child(1), mat-header-cell:nth-child(1) {
    flex: 0 0 4%;
}
mat-cell:nth-child(11), mat-header-cell:nth-child(11){
    flex: 0 0 5%;
}

mat-cell{
    padding:0 5px;
} 