

<div class="orders-action" [ngClass]="{'show-tray': trayOpen, 'hide-tray': !trayOpen}">

  <div class="container-fluid orders-view">
    <div class="row">
      <div class="col-md-1">
        <a href="#" (click)="toggleTray($event)" [attr.data-trayOpen]="trayOpen">
          <i class="glyphicon glyphicon-remove close-tray"></i>
        </a>
      </div>

        <div class="col-md-11 no-padding">
            <p class="text-bold uppercase">{{orderByStatus}} orders
                <!--- Delivery for today  {{orderId}}-->
            </p>
            <p class="text-grey no-margin">Total - <span *ngIf="!sidePanelData">0</span><span *ngIf="sidePanelData">{{sidePanelData.length}}</span> Orders</p>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12 order-row" *ngIf="!sidePanelData" style="height: 85vh;">

                <div class="container-fluid orders-tray" *ngFor="let loaderc of loadercount">
                    <div class="row delivery-details">
                        <div class="col-md-7 order-details no-padding">
                            <p>

                                <span class="order-id">Order ID: <app-loader></app-loader></span>
                                <span class="delivery-time">Same Day Delivery <app-loader></app-loader></span>
                            </p>
                            <div class="text-bold">Deliver to: <app-loader></app-loader></div>
                            <div class="address">Address - <app-loader></app-loader></div>
                            <div class="contact">Contact Number - <app-loader></app-loader></div>
                        </div>
                        <div class="col-md-5 order-actions">
                            <div class="row">
                                <div class="btn btn-primary actions-button uppercase text-bold text-black bg-white" (click)="openOrdersTray($event)">
                                Reject
                            </div>
                            <div class="btn btn-primary actions-button uppercase text-bold text-white bg-green" (click)="openOrdersTray($event)">
                            Confirm
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}" (click)="openOrdersTray($event)">
                        Print Order
                    </div>
                    <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}" (click)="openOrdersTray($event)">
                    Print Message
                </div>
            </div>
              <div class="row">
                  <div class="btn btn-primary actions-button text-bold text-white bg-black" (click)="openOrdersTray($event)">
                  Put On Hold
              </div>
              <div class="btn btn-primary actions-button text-bold text-white bg-black" (click)="openOrdersTray($event)">
              Other
          </div>
        </div>
        </div>
        </div>
        <div class="row">
            <p>Product Name: <span class="uppercase text-igp"><app-loader></app-loader></span></p>
            <p>Product Components -</p>
            <div class="col-md-12 product-holder">
                <div class="row">
                    <div class="col-md-4 no-padding">
                        <div class="product-component mainprod">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                        <div class="plus-sign" style="padding-top: 25%; padding-left: 9%;">=</div>
                    </div>
                    <div class="col-md-8 no-padding">
                        <div class="product-component">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                        <div class="plus-sign">+</div>
                        <div class="product-component">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                        <span class="plus-sign">+</span>
                        <div class="product-component">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                        <span class="plus-sign">+</span>
                        <div class="product-component">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                        <span class="plus-sign">+</span>
                        <div class="product-component">
                            <div class="component-head">&nbsp;</div>
                            <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                            <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                            <div class="component-name">&nbsp; <br/> &nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <div class="col-md-12 order-row" *ngIf="sidePanelData">

            <div class="container-fluid orders-tray" *ngFor="let order of sidePanelData">
              <div class="row delivery-details">
                <div class="col-md-7 order-details no-padding">
                  <p>
                    <span class="order-id">Order ID: {{order.orderId}}</span>
                    <!--<span class="delivery-time">Same Day Delivery 12/4/17 2:00 PM</span>-->
                  </p>
                  <div class="text-bold">Deliver to: {{order.deliveryName}}</div>
                  <div class="address">Address - {{order.deliveryStreetAddress}}, <span *ngIf="order.deliveryStreetAddress2">{{order.deliveryStreetAddress2}},</span>s{{order.deliveryCity}}-{{order.deliveryPostcode}}, {{order.deliveryState}}</div>
                  <div class="contact">Contact Number - {{order.deliveryMobile}}</div>
                </div>
                <div class="col-md-5 order-actions">
                  <div class="row">
                    <div class="btn btn-primary actions-button uppercase text-bold text-black bg-white" (click)="openOrdersTray($event)">
                      Reject
                    </div>
                    <div class="btn btn-primary actions-button uppercase text-bold text-white bg-green" (click)="openOrdersTray($event)">
                      Confirm
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}" (click)="openOrdersTray($event)">
                      Print Order
                    </div>
                    <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}" (click)="openOrdersTray($event)">
                      Print Message
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn btn-primary actions-button text-bold text-white bg-black" (click)="openOrdersTray($event)">
                      Put On Hold
                    </div>
                    <div class="btn btn-primary actions-button text-bold text-white bg-black" (click)="openOrdersTray($event)">
                      Other
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngFor="let orderProduct of order.orderProducts">
                <p class="width55">Product Name: <span class="uppercase text-igp">{{orderProduct.productName}}</span></p>
                <p>Product Components -</p>
                <div class="col-md-12 product-holder">
                  <div class="row">
                    <div class="col-md-4 no-padding">
                      <img class="product-image" src="https://d1xs5fw35mbn8b.cloudfront.net/p/m/p-round-black-forest-cake-half-kg--13461-m.jpg?v=1495502520000" alt="Product 1">
                      <span class="equal-sign">=</span>
                    </div>
                    <div class="col-md-8 no-padding">
                      <span *ngFor="let prodComponent of orderProduct.componentList; let i='index'">
                          <div class="product-component">
                            <div class="component-head">{{prodComponent.componentCode}}</div>
                            <img class="component-image" src="https://d1xs5fw35mbn8b.cloudfront.net/p/m/p-round-black-forest-cake-half-kg--13461-m.jpg?v=1495502520000" alt="Component 1">
                            <div class="component-quantity">QTY-{{prodComponent.quantity | number : '2.0-0'}}</div>
                            <div class="component-name">{{prodComponent.componentName}}</div>
                          </div>
                          <div class="plus-sign" *ngIf="(i+1) !== orderProduct.componentList.length">+</div>
                      </span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>

</div>
