.orders-action {
    width: 61.3%;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    border-left: 6px solid rgba(224, 224, 224, .5);
    transition: all 0.2s ease;
}

.close-tray {
    color: #888888;
    font-size: 20px;
    font-weight: 100;
}

.delivery-details {
    margin-bottom: 10px;
}

.order-id {
    font-size: 12px;
    text-decoration: underline;
}

.delivery-time {
    float: right;
    padding-right: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #25C355;
    text-transform: uppercase;
}

.address {
    /*height: 40px;*/
}

.contact {
    margin-top: 10px;
}

.actions-button {
    border: none;
    font-size: 12px;
    margin-bottom: 5px;
}

.orders-view {
    padding: 10px;
}

.order-row {
    padding: 7px;
    margin: 15px 15px;
    background-color: white;
    box-shadow: 0 1px 3px #888888;
    width: 96%;
}

.order-details {
    border-right: 2px solid #E0E0E0;
}

.order-actions {
    padding: 2px 35px;
}

.order-actions > .row {
    padding-bottom: 5px;
}

.product-holder {
    margin: 5px 20px 10px;
}

.product-image {
    width: 150px;
    height: 150px;
    /*margin: 0 10px;*/
}

.product-holder {
    width: 95%;
    margin: 0 10px 10px;
    padding-bottom: 10px;
    border-bottom: 3px dotted #C3404E;
    position: relative;
}

.product-main {
    display: inline-block;
}

.product-component {
    vertical-align: bottom;
    margin-bottom: 1em;
    width: 75px;
    height: 150px;
    display: inline-block;
    background-color: #f2f2f2;
}
.product-main{
    vertical-align: bottom;
    margin-bottom: 1em;
    /*width: 75px;*/
    height: 150px;
    display: inline-block;
    /*background-color: #f2f2f2;*/
}


.product-component.mainprod {
    width: 75%;
    height: 150px;
    display: inline-block;
    background-color: #f2f2f2;
}

.component-quantity {
    margin: 2px 4px;
    background-color: #C3404E;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.component-image {
    width: 75px;
    height: 75px;
    padding: 2px 4px;
}

.component-head {
    text-align: center;
    font-size: 12px;
    color: #C3404E;
}

.component-name {
    font-size: 12px;
    padding: 0px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.equal-sign {
    /*padding-left: 25px;*/
    /*margin-left: -5px;
    color: #C3404E;
    display: inline-block;*/
    display: inline-block;
    color: #C3404E;
    height: 150px;
    vertical-align: top;
    /*padding-top: 10%;*/
}

.plus-sign {
    display: inline-block;
    color: #C3404E;
    height: 150px;
    vertical-align: top;
    /*padding-top: 10%;*/
}

.show-tray {
    right: 0;
}

.hide-tray {
    right: -61%;
}

.container-fluid .orders-tray{
    /*padding-left:2em;*/
}

.width55{
    width:55%;
}

.layer-caption{
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    position: fixed;
}

.component-eggless{
    left: -4px;
    background-color: #C3404E;
    color: #ffffff;
    /* font-weight: 600; */
    padding: 0.3em 0.5em;
    font-size: 0.8em;
}


.component-eggless:before {
    left:0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 12px 0;
    border-color: transparent #792A2D transparent transparent;
    bottom: -12px;
}
