.orders-action {
    width: 66%;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    border-left: 6px solid rgba(224, 224, 224, .5);
    transition: all 0.2s ease;
}

.close-tray {
    color: #888888;
    font-size: 20px;
    font-weight: 100;
}

.delivery-details {
    margin-bottom: 10px;
}

.order-id {
    font-size: 12px;
    text-decoration: underline;
}

.delivery-time {
    float: right;
    padding-right: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #25C355;
    text-transform: uppercase;
}

.address {
    /*height: 40px;*/
}

.contact {
    margin-top: 10px;
}

.actions-button {
    border: none;
    font-size: 12px;
    margin-bottom: 5px;
}

.orders-view {
    padding: 0 10px 10px 10px;
}

.order-row {
    padding: 7px;
    margin: 15px 15px;
    background-color: white;
    box-shadow: 0 1px 3px #888888;
    width: 96%;
}

.order-details {

}

.order-actions {
    padding: 2px 35px;
}

.order-actions > .row {
    padding-bottom: 5px;
}

.product-holder {
    margin: 5px 20px 10px;
}

.product-image {
    width: 150px;
    height: 150px;
    /*margin: 0 10px;*/
}

.product-holder {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 95%;
    margin: 0 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #C3404E;
    position: relative;
}

.product-main {
    display: inline-block;
}

.product-component {
    vertical-align: bottom;
    margin-bottom: 1em;
    width: 75px;
    height: 175px;
    display: inline-block;
    background-color: #f2f2f2;
}
.product-main{
    vertical-align: bottom;
    margin-bottom: 1em;
    /*width: 75px;*/
    height: 175px;
    display: inline-block;
    background-color: #f2f2f2;
}


.product-component.mainprod {
    width: 75%;
    height: 175px;
    display: inline-block;
    background-color: #f2f2f2;
}

.component-quantity {
    margin: 2px 4px;
    background-color: #C3404E;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.component-image {
    width: 75px;
    height: 75px;
    padding: 2px 4px;
}

.component-head {
    text-align: center;
    font-size: 12px;
    color: #C3404E;
}

.component-name {
    height: 51px;
    font-size: 12px;
    padding: 0px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.equal-sign {
    /*padding-left: 25px;*/
    /*margin-left: -5px;
    color: #C3404E;
    display: inline-block;*/
    display: inline-block;
    color: #C3404E;
    height: 175px;
    vertical-align: top;
    /*padding-top: 10%;*/
}

.plus-sign {
    display: inline-block;
    color: #C3404E;
    height: 175px;
    vertical-align: top;
    /*padding-top: 10%;*/
}

.show-tray {
    right: 0;
}

.hide-tray {
    right: -66%;
}

.container-fluid .orders-tray{
    /*padding-left:2em;*/
}

.width55{
    width:55%;
}

.layer-caption{
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    position: fixed;
}

.component-eggless{
    left: -4px;
    background-color: #C3404E;
    color: #ffffff;
    /* font-weight: 600; */
    padding: 0.3em 0.5em;
    font-size: 0.8em;
}

.component-eggless.prod-img{
    font-weight: 600;
    left: -6px;
    background-color: #C3404E;
    color: #ffffff;
    padding: 0.3em 1em;
    font-size: 1em;
}

.component-eggless:before {
    left:0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 12px 0;
    border-color: transparent #792A2D transparent transparent;
    bottom: -12px;
}

.price-display{
    text-align: center;
    font-weight: 600;
    color: #c3404e;
    background: #f2f2f2;
    padding: 0.2em 0.2em;
}

.order-instruction-detail{
    display:none;
    position: absolute ! important;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 1em 1em;
    margin-top: 0.5em;
    z-index:99;
    background: #fff;
    width:180%;
}

.order-instruction-detail.mob{
 bottom:135%;
}

.order-instruction-detail.mob .arrow-up{
    top: 103%;
    transform: rotate(180deg);
}

.arrow-up {
    left:20%;
    top: -11px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f2f2f2;
}

.instruction-cont:hover .order-instruction-detail{
    display:block;
}

.triangle-topright {
    top: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    width: 0;
    height: 0;

    border-left: 70px solid transparent;
}

.triangle-topright.mob{
    right: 1.2em;
}

.triangle-topright.redBorder{
    border-top: 70px solid #C3404E;
}

.triangle-topright.greenBorder{
    border-top: 70px solid #25C355;
}

.slaAlert-flag{
    font-weight: bold;
    font-size: 0.8em;
    left: -4.2em;
    top: -5.5em;
    color: #fff;
    text-align: center;

    /* Safari */
    -webkit-transform: rotate(44deg);

    /* Firefox */
    -moz-transform: rotate(44deg);

    /* IE */
    -ms-transform: rotate(44deg);

    /* Opera */
    -o-transform: rotate(44deg);

}

.viewDetailPopupBtn{
    /*margin-left: 10em;
    margin-top: -4em;*/
    left: 33.5em;
    bottom: 2.1em;
    position: absolute;
}

.markdlvBtn{
    margin-left:-8em ! important;
}

.rejectStatusDp {
    padding: 1em 0 0;
}

.sidePanelHeader{
    padding: 1em 0 0.5em;
    width: 66%;
    position: fixed;
    z-index: 999;
    background: #F2F2F2;
}

.sidePanelContent{
    margin-top: 4.5em;
}

.rightAlignrdNumber{
    display:inline-block;
    /*width:4.5em;*/
}

.image-preview .modal-content.cHeight{
    min-height: 85vh ! important;
}

.image-preview .modal-content.mHeight{
    min-height: 45vh ! important;
}

.uploadFileSection{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-top: 1em;
    padding: 1em;
}

.uploadFileSection .uploadedFiles{
    margin-right: 1em;
    margin-top: 1em;
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.uploadFileSection .uploadedFiles img{
    width:7.5em;
    height: 7.5em;
}

.uploadFileSection input[type=file]{
    float: left;
    margin-top: 3.2em;
}

.trashImg{
    background: #f2f2f2;
    right: 0;
    cursor: pointer;
    top: 0;
    padding: 0.3em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}

.orderLogCont {
    width:100%;
    height:100%;
    position:relative;
}

.orderLogContInner{
    position: absolute;
    padding: 0.5em 1em;
    left: -1.6em;
    right: 0em;
    width: 105%;
    bottom: -1.7em;
    background: #eee;
}

.orderLogContInner.slideropen{
    height: 103% ! important;
    max-height: 103% ! important;
    -moz-transition-duration: 0.5s ! important;
    -webkit-transition-duration: 0.5s ! important;
    -o-transition-duration: 0.5s ! important;
    transition-duration: 0.5s ! important;
    bottom: -0.5em ! important;
}

.orderLogContInner.sliderclosed{
    height: 0% ! important;
    max-height: 0% ! important;
    -moz-transition-duration: 1s ! important;
    -webkit-transition-duration: 1s ! important;
    -o-transition-duration: 1s ! important;
    transition-duration: 1s ! important;
}



