<div class="image-preview" *ngIf="imagePreviewFlag">
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block; overflow:scroll;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="imagePreview($event)"><span aria-hidden="true">×</span></button>
                    <!--<h4 class="modal-title" id="myModalLabel">Modal Header</h4>-->
                </div>
                <div class="modal-body center-align">
                    <img class="img-responsive" src="{{imagePreviewSrc}}" alt="product_img_preview">

                    <!--<p>Some text in the modal.</p>-->
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in" (click)="imagePreview($event)"></div>
</div>

<div id="mainOrderSection" class="orders-action" [ngClass]="{'show-tray': trayOpen, 'hide-tray': !trayOpen}" >
<div class="apierror" *ngIf="apierror">{{apierror}}</div>
  <div class="container-fluid orders-view">
    <div class="row">
      <div class="col-md-1">
        <a href="#" (click)="toggleTray($event, null, null)" [attr.data-trayOpen]="trayOpen">
          <i class="glyphicon glyphicon-remove close-tray"></i>
        </a>
      </div>

        <div class="col-md-11 no-padding">
            <p class="text-bold uppercase">
                <span *ngIf="!orderByStatus">Searched Order</span>
                <span *ngIf="orderByStatus">
                     <span class="uppercase" *ngIf="orderByStatus == 'Processed'">New Orders</span>
                     <span class="uppercase" *ngIf="orderByStatus == 'Confirmed'">Confirmed Orders</span>
                     <span class="uppercase" *ngIf="orderByStatus == 'OutForDelivery'">Out for delivery Orders</span>
                     <span class="uppercase" *ngIf="orderByStatus == 'Shipped'">Delivered Orders</span>
                </span>
                <span *ngIf="orderUpdateByTime">
                    <span class="uppercase" *ngIf="orderUpdateByTime == 'today'"> - Deliver for today</span>
                    <span class="uppercase" *ngIf="orderUpdateByTime == 'tomorrow'"> - Deliver for tomorrow</span>
                    <span class="uppercase" *ngIf="orderUpdateByTime == 'future'"> - Deliver for future</span>
                    <span class="uppercase" *ngIf="orderUpdateByTime == 'bydate'"> - Deliver by date </span>
                </span>

                <!--- Delivery for today  {{orderId}}-->
            </p>
            <p class="text-grey no-margin">Total - <span *ngIf="!sidePanelData">0</span><span *ngIf="sidePanelData">{{sidePanelData.length}}</span> Orders</p>

        </div>

    </div>
    <div class="row">
        <div *ngIf="!sidePanelData">
            <div class="col-md-12 order-row" *ngFor="let loaderc of loadercount" style="margin-bottom: 0;">

                    <div class="container-fluid orders-tray" >
                        <div class="row delivery-details">
                            <div class="col-md-8 order-details no-padding">
                                <p>

                                    <span class="order-id">Order ID: <app-loader></app-loader></span>
                                    <span class="delivery-time">Same Day Delivery <app-loader></app-loader></span>
                                </p>
                                <div class="text-bold">Deliver to: <app-loader></app-loader></div>
                                <div class="address">Address - <app-loader></app-loader></div>
                                <div class="contact">CONTACT NUMBER - <app-loader></app-loader></div>
                            </div>
                            <div class="col-md-4 order-actions">
                                <div class="row">
                                    <div class="btn btn-primary actions-button uppercase text-bold text-black bg-white disableBtn">
                                    Reject
                                </div>
                                <div class="btn btn-primary actions-button uppercase text-bold text-white bg-green disableBtn">
                                Confirm
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn btn-primary actions-button text-bold disableBtn" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}">
                            Print Order
                        </div>
                        <div class="btn btn-primary actions-button text-bold disableBtn" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}">
                        Print Message
                    </div>
                </div>
                  <!--<div class="row">
                      <div class="btn btn-primary actions-button text-bold text-white bg-black disableBtn">
                          Price Change Request
                      </div>
                      &lt;!&ndash;<div class="btn btn-primary actions-button text-bold text-white bg-black">
                            Other
                      </div>&ndash;&gt;
                  </div>-->
            </div>
            </div>
            <div class="row">
                <p>Product Name: <span class="uppercase text-igp"><app-loader></app-loader></span></p>
                <p>Product Components -</p>
                <div class="col-md-12 product-holder noBtBorder">
                    <div class="row">
                        <div class="col-md-4 no-padding">
                            <div class="product-component mainprod">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                            <div class="table-inline-display plus-sign" style="padding-left: 9%;">
                               <div class="table-cell-display v-align-middle"> =</div>
                            </div>
                        </div>
                        <div class="col-md-8 no-padding">
                            <div class="product-component">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                            <div class="table-inline-display plus-sign" style="">
                                <div class="table-cell-display v-align-middle">+</div>
                            </div>
                            <div class="product-component">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                            <div class="table-inline-display plus-sign" style="">
                                <div class="table-cell-display v-align-middle">+</div>
                            </div>
                            <div class="product-component">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                            <div class="table-inline-display plus-sign" style="">
                                <div class="table-cell-display v-align-middle">+</div>
                            </div>
                            <div class="product-component">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                            <div class="table-inline-display plus-sign" style="">
                                <div class="table-cell-display v-align-middle">+</div>
                            </div>
                            <div class="product-component">
                                <div class="component-head">&nbsp;</div>
                                <app-loader [loaderType]="'compsmallboxImg'"></app-loader>
                                <div class="component-quantity" style="background:#eee;">&nbsp;</div>
                                <div class="component-name">&nbsp; <br/> &nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        <div *ngIf="sidePanelData">
            <div  id="order-{{order.orderId}}" class="col-md-12 order-row" *ngFor="let order of sidePanelData" style="margin-bottom: 0;">
                <!-- Print Template start -->
                    <app-print-template [order]="order" [printType]="'order'"></app-print-template>
                    <app-print-template [order]="order" [printType]="'orderMessage'"></app-print-template>
                <!-- Print Template end -->
                <div class="container-fluid orders-tray">
                  <div class="row delivery-details">
                    <div class="col-md-8 order-details no-padding">
                      <p>
                        <span class="order-id">Order ID: {{order.orderId}}</span>
                        <!--<span class="delivery-time">Same Day Delivery 12/4/17 2:00 PM</span>-->
                          <span *ngIf="order && order.orderProducts[0] && order.orderProducts[0].orderProductExtraInfo">
                              <span class="uppercase delivery-time">{{getDeliveryDetail(order.orderProducts[0].orderProductExtraInfo, order.datePurchased)}}</span>


                          </span>
                      </p>
                      <div class="text-bold">Deliver to: {{order.deliveryName}}</div>
                      <div class="address">Address - {{order.deliveryStreetAddress}}, <span *ngIf="order.deliveryStreetAddress2">{{order.deliveryStreetAddress2}},</span>s{{order.deliveryCity}}-{{order.deliveryPostcode}}, {{order.deliveryState}}</div>
                      <div class="contact">CONTACT NUMBER - {{order.deliveryMobile}}</div>
                    </div>
                    <div class="col-md-4 order-actions">
                      <div class="row">
                        <div class="btn  actions-button uppercase text-bold bg-white text-red" [ngClass]="{'disableBtn' : order.orderProducts[0].ordersProductStatus !=='Processed', 'hide' : order.orderProducts[0].ordersProductStatus !=='Processed'}" (click)="updateOrderStatus($event, 'Rejected', order.orderId)">
                          Reject
                        </div>
                        <button class="btn btn-primary actions-button uppercase text-bold text-white bg-green"
                        [ngClass]="{'disableBtn' : (order.orderProducts[0].ordersProductStatus =='Shipped' && order.orderProducts[0].deliveryStatus === 1) ||
                        (order.orderProducts[0].ordersProductStatus =='Dispatched' && order.orderProducts[0].deliveryStatus === 1) ||
                        (order.orderProducts[0].ordersProductStatus =='Confirmed' && orderUpdateByTime !== 'today')}"
                        (click)="updateOrderStatus($event, getNxtOrderStatus(order.orderProducts[0].ordersProductStatus), order.orderId)">
                              <span *ngIf="order.orderProducts[0].ordersProductStatus =='Processed'">Confirm</span>
                              <span *ngIf="order.orderProducts[0].ordersProductStatus =='Confirmed'">Out For Delivery</span>
                              <span *ngIf="(order.orderProducts[0].ordersProductStatus =='Shipped' && order.orderProducts[0].deliveryStatus === 0) || order.orderProducts[0].ordersProductStatus =='OutForDelivery' || order.orderProducts[0].ordersProductStatus == 'Partially Dispatched'">Delivered</span>
                              <span *ngIf="(order.orderProducts[0].ordersProductStatus =='Shipped' && order.orderProducts[0].deliveryStatus === 1)  || (order.orderProducts[0].ordersProductStatus =='Dispatched' && order.orderProducts[0].deliveryStatus === 1)">Delivered</span>
                        </button>
                      </div>

                      <!--<div class="row">
                        <div class="btn btn-primary actions-button text-bold text-white bg-black disableBtn " [ngClass]="{'disableBtn1' : !(order.orderProducts[0].ordersProductStatus =='Processed' || order.orderProducts[0].ordersProductStatus =='Confirmed'), 'hide' : !(order.orderProducts[0].ordersProductStatus =='Confirmed' || order.orderProducts[0].ordersProductStatus =='Processed') }" (click)="updateOrderStatus($event, 'PutOnHold', order.orderId)">
                          Price Change Request
                        </div>
                        &lt;!&ndash;<div class="btn btn-primary actions-button text-bold text-white bg-black">
                          Other
                        </div>&ndash;&gt;
                      </div>-->

                    <div class="row">
                        <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert}" (click)="print($event, 'order', order.orderId)">
                        Print Order
                    </div>
                    <div class="btn btn-primary actions-button text-bold" [ngClass]="{'bg-igp text-white': isAlert, 'bg-grey text-black': !isAlert, 'disableBtn' : !order.commments}" (click)="print($event, 'order_message', order.orderId)">
                    Print Message
                    </div>
                    </div>

                    </div>
                  </div>
                  <div class="row" *ngFor="let orderProduct of order.orderProducts; let z='index'">
                    <p class="">Product Name: <span class="uppercase text-igp">{{orderProduct.productName}}</span></p>
                    <p>Product Components -</p>
                    <div class="col-md-12 product-holder" [ngClass]="{'noBtBorder' : (z+1 === order.orderProducts.length)}">
                      <div class="row">
                          <div class="col-md-12 no-padding comp1">
                        <!--<div class="col-md-3 no-padding comp1">-->
                           <span>
                                <div class="product-main">
                                    <img class="product-image clk" src="{{productsURL}}{{orderProduct.productImage}}" alt="product_img" (click)="imagePreview($event, productsURL+(orderProduct.productImage))">
                                </div>
                                <div class="equal-sign table-inline-display" *ngIf="orderProduct.componentList.length">
                                   <div class="table-cell-display v-align-middle">=</div>
                                </div>
                           </span>
                        <!--</div>-->
                        <!--<div class="col-md-8 no-padding comp2">-->
                          <span *ngFor="let prodComponent of orderProduct.componentList; let i='index'">
                              <div class="product-component relative">
                                  <div class="component-eggless abs" *ngIf="prodComponent.eggless">Eggless</div>
                                <!--<div class="component-head center-align uppercase">{{prodComponent.componentCode | slice:0:9}}<span *ngIf="prodComponent.componentName.length > 9">...</span></div>-->
                                <img class="component-image clk" src="{{productsCompURL}}{{prodComponent.componentImage}}" alt="Component_img" (click)="imagePreview($event, productsCompURL+(prodComponent.componentImage))">
                                <div class="component-quantity center-align">X {{prodComponent.quantity | number : '2.0-0'}}</div>
                                <div class="component-name center-align">{{prodComponent.componentName}} </div>
                              </div>
                              <div class="table-inline-display plus-sign" *ngIf="(i+1) !== orderProduct.componentList.length">
                                <div class="table-cell-display v-align-middle">+</div>
                              </div>
                          </span>
                        <!--</div>-->
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
        </div>
    </div>
  </div>

</div>
