<div class="container">
  <div class="row m-top-1">
    <mat-form-field class="example-full-width col-sm-3">
      <mat-label>Search Keyword</mat-label>
      <textarea matInput placeholder="Search" [(ngModel)]="searchKeyword"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width col-sm-4">
      <mat-label>Solr</mat-label>
      <textarea matInput placeholder="Solr URL" [(ngModel)]="solr"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width col-sm-4">
      <mat-label>ML URL</mat-label>
      <textarea matInput placeholder="ML URL" [(ngModel)]="ml"></textarea>
    </mat-form-field>
    <div  class="col-sm-1 m-top-1">
      <button mat-raised-button (click)="onSubmit()">Submit</button>
    </div>
  </div>
  <div *ngIf="dataSource.data.length>0" class="row m-top-1">
    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let headerColumn of displayedColumns" matColumnDef="{{headerColumn}}">
        <mat-header-cell *matHeaderCellDef> {{headerColumn | titlecase}} </mat-header-cell>
        <ng-container *ngIf="headerColumn!=='image'">
          <mat-cell *matCellDef="let element"> {{element[headerColumn]}} </mat-cell>
        </ng-container>
        <ng-container *ngIf="headerColumn==='image'">
          <mat-cell *matCellDef="let element"> <img [src]="imgCdn+element[headerColumn]" style="padding: 5px 0px;" [alt]="element[headerColumn]" width="100px"> </mat-cell>
        </ng-container>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[50]" (page)="onPageChange($event)" [length]="dataSource?.data?.length" ></mat-paginator>
  </div>
</div>