.error-section{
    width: 30%;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    border-left: 6px solid rgba(224, 224, 224, .5);
    transition: all 0.7s ease;
    padding:0.5em 1em;
}

.show-error-section {
    right: 0;
}

.hide-error-section {
    right: -30%;
}

.errorCont{
    box-shadow: 0 1px 3px #888;
    padding: 0.5em;
    background: #fff;
    margin-top: 0.5em;
}

.count{
    font-size:1.5em;
}