.main-container{
    width: 98%;
    margin: 0 auto;
    height: auto;
    background: #f2f2f2;
}

.example-container {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    /* display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; */
  }
  
  .example-sidenav {
    padding: 20px;
    background: #f2f2f2;
  }

  .preview-button{
    cursor: pointer;
  }
  