.headerUnderLine{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.addMoney {
    font-weight: 600;
    font-size: 16px;
    color: #1d252d;
    
    font-family: Open Sans,Helvetica,Arial;
}

.marginB20{
    margin-bottom: 20px
}

.addMoneyInput{
    height: 40px;
    font-size: 16px;
    color: #555;
    border-radius: 3px;    
    border: 1px solid #c3404e;
    font-family: Open Sans,Helvetica,Arial;
    margin-right:15px
}
.addMoneyInput:focus{    
    font-size: 16px;
    color: #555;    
    border: 1px solid #c3404e;    
    outline-color: #c3404e;

}

.addMoneyButton{
    background-color: #c3404e;
    height: 40px;
    color: #fff;
    width: 15%;
    border-radius: 3px;    
}

.width30{
    width:30%
}

.width{
    width:15%
}

.summaryBox{
    text-align: center;
    border:1px solid #ccc;
    border-radius:5px;
    height:120px;
    font-weight: 600;
    font-size: 16px;
    color: #c3404e;
    padding: 15px
}

.summaryIcon{
    font-size: 40px;
    margin-bottom: 10px;
}