<div class="main-container">
  <mat-card>
    <div class="row">
      <div class="balance col-md-12 marginB20">
        <div class='headerUnderLine addMoney col-md-12'>
          Summary
        </div>

        <div *ngIf="loadingSummary else loaded">
          Select a Corporate User to view Summary.
        </div>

        <ng-template #loaded>
          <div class="col-md-12">
            <div class="col-md-3 summaryBox">
              <i class="fa fa-balance-scale summaryIcon"></i>
              <div>&#8377; {{walletSummary.balance}}</div>
              <div>Balance</div>
            </div>

            <div class="col-md-3 summaryBox">
              <i class="fa fa-percent summaryIcon"></i>
              <div>&#8377; {{walletSummary.dailyTransLimit}}</div>
              <div>Daily Limit </div>
            </div>

            <div class="col-md-3 summaryBox">
              <i class="fa fa-credit-card summaryIcon"></i>
              <div>&#8377; {{walletSummary.creditLimit}}</div>
              <div>Credit Limit </div>
            </div>

            <div class="col-md-3 summaryBox">
              <i class="fa fa-check summaryIcon" *ngIf=" walletSummary.active"></i>
              <i class="fa fa-times summaryIcon" *ngIf=" !walletSummary.active"></i>
              <div>{{walletSummary.active?'Active':'Inactive'}}</div>
              <div>Status</div>
            </div>

          </div>
        </ng-template>
      </div>
      <div class="col-md-12">
        <div class='addMoney headerUnderLine col-md-12'>
          Add Money To Wallet
        </div>
        <div class="col-md-12 marginB20">
          <form>
            <input type="text" class="ng-trim-ignore addMoneyInput width15" placeholder='Select a user'
              [formControl]="selectedUser" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='getUserSelected($event.option.value)'
              [displayWith]="userDisplayFn">
              <mat-option *ngFor="let option of filteredUserList | async" [value]="option">
                {{option.associateName}}</mat-option>
            </mat-autocomplete>

            <input class="addMoneyInput width30" matInput name='amount' type="number" placeholder="Enter Amount"
              [(ngModel)]="addMoneyAmount">
            <input class="addMoneyInput width30" matInput name="utr" type="text" placeholder="Enter UTR"
              [(ngModel)]="addMoneyTransactionId">
            <button mat-flat-button class="addMoneyButton " (click)="addMoneyToWallet()">Add Money</button>
          </form>
        </div>
      </div>
    </div>
  </mat-card>
</div>