body {
    width: 21cm;
    /*background: rgb(204,204,204);*/
    margin: 0;
    box-shadow: 0;
    padding-bottom: 1em;
    -webkit-print-color-adjust: exact;
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="portrait"] {
    width: 42cm;
    height: 29.7cm;
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="portrait"] {
    width: 21cm;
    height: 14.8cm;
}
@media print {
    body, page {
        /*background: rgb(204,204,204);*/
        margin: 0;
        box-shadow: 0;
        padding-bottom: 1em;
        -webkit-print-color-adjust: exact;
    }

    .upper-txt{
        text-transform: uppercase;
    }
    .w100{
        width:100%;
    }

    .w-section{
        width:49%;
    }

    .w50{
        width:50%;
    }

    .w10{
        width:10%;
    }

    .w20{
        width:20%;
    }

    .w30{
        width:30%;
    }

    .w40{
        width:40%;
    }

    .w45{
        width:45%;
    }

    .bold{
        font-weight:600;
    }

    .display-inline{
        display:inline-block;
    }

    .semi-dark{
        color:#eee;
    }

    .border-right{
        border-right:1px solid #a7a7a7;
    }

    .border-bottom{
        padding-bottom: 1px solid #a7a7a7;
    }

    .header{
        padding:1em 3em;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        border-bottom:1px solid #a7a7a7;
    }

    .order-main-body{
        padding:0 3em;
    }

    .igp-logo{

    }

    .print-caption{
        padding-bottom: 1em;
    }

    .print-caption .print-caption-text{
        float: right;
        font-size: 2em;
    }

    .messgae-box-cont{
        border-bottom: 2px dotted #757575;
        background: #fff;
        padding: 5em 0;
        width: 100%;
        text-align: center;
        display: table;
    }

    .messgae-box-cont2{
        /*border-bottom: 2px dotted #757575;*/
        background: #fff;
        padding: 12em 0;
        width: 100%;
        text-align: center;
        display: table;
    }


    .messgae-box{
        display: table-cell;
        margin: 0 auto;
        vertical-align: middle;
    }

    .messgae-box .message-caption{
        letter-spacing: 5px;
        font-size: 1.5em;
    }

    .message-txt{

    }

    .order-body{
        background: #fff;
    }

    .order-body-header{
        padding: 0.5em 0;
    }

    .order-body-header .col1{
        padding-top: 0.5em;
        height: 1.5em;
        width: 35%;

    }

    .order-body-header .col2{
        margin-left: 2em;
        width: 35%;
    }

    .order-body-deliveryDetails{

    }

    .order-body-deliveryDetails .col1{
        width:50%;
    }

    .order-body-deliveryDetails .col2{
        top: 50%;
        position: absolute;
        border-left: 1px solid #a7a7a7;
        padding: 0 1em;
    }

    .order-body-deliveryDetails .clo2 div{

    }

    .order-body-senderDetails{

    }

    .order-body-productDetails{
        padding: 1em 0 ! important;
    }

    .order-body-productDetails-head{
        padding: 0.5em 2em;
    }

    .order-body-productDetails-body{
        width: 100%;
        display: table;
    }

    .order-body-footer{
        padding: 1em 2em;
    }

    .order-body-footer .col1{
        width: 45%;
        padding: 0.3em 0.5em 0.3em 0;
    }

    .order-body-footer .col2{
        margin-left: 2em;
    }

    .sign-box{
        width: 50%;
        margin-top: -1em;
        margin-left: 8.5em;
    }

    .sign-box.right-sign-box{
        margin-left: 10em;
    }

    .product-image{
        width: 6em;
    }

    .t-col-1,.t-col-2, .t-col-3, .t-col-4, .t-col-5{
        padding: 0.5em 1em;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    .t-col-1{
        width:2%;

    }

    .t-col-2{
        width:20%;
    }

    .t-col-3{
        width:20%;
    }

    .t-col-4{
        width:45%;
    }

    .t-col-5{
        width:10%;
    }

    .order-body-feedback{
        padding: 1em 2em;
    }

    .feedback-check-box{
        margin-left: 2em;
        display: inline;
    }

    .order-body-header, .order-body-deliveryDetails, .order-body-senderDetails, .order-body-productDetails, .order-body-feedback, .order-body-footer{
        padding:1em 2em;
    }


    .prod-bg{
        background:#f3f8f9;
    }

    .order-body-productDetails-body:last-child{
        border-bottom:0;
        margin-bottom: -15px;
    }

    .fd-option{
        /*margin-left:5em;*/
    }

    .fd-option:first-child{
        /*margin-left:1em;*/
    }

    .recipient-addr {
        line-height: 1.3em;
    }

    .img-logo{
        width: 11em;
    }

}

/*----------*/
.upper-txt{
    text-transform: uppercase;
}
.w100{
    width:100%;
}

.w-section{
    width:49%;
}

.w50{
    width:50%;
}

.w10{
    width:10%;
}

.w20{
    width:20%;
}

.w30{
    width:30%;
}

.w40{
    width:40%;
}

.w45{
    width:45%;
}

.bold{
    font-weight:600;
}

.display-inline{
    display:inline-block;
}

.semi-dark{
    color:#eee;
}

.border-right{
    border-right:1px solid #a7a7a7;
}

.border-bottom{
    border-bottom:1px solid #a7a7a7;
}

.header{
    padding:1em 3em;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    border-bottom:1px solid #a7a7a7;
}

.order-main-body{
    padding:0 3em;
}

.igp-logo{

}

.print-caption{
    padding-bottom: 1em;
}

.print-caption .print-caption-text{
    float: right;
    font-size: 2em;
}

.messgae-box-cont{
    border-bottom: 2px dotted #757575;
    background: #fff;
    padding: 5em 0;
    width: 100%;
    text-align: center;
    display: table;
}

.messgae-box-cont2{
    /*border-bottom: 2px dotted #757575;*/
    background: #fff;
    padding: 12em 0;
    width: 100%;
    text-align: center;
    display: table;
}


.messgae-box{
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}

.messgae-box .message-caption{
    letter-spacing: 5px;
    font-size: 1.5em;
}

.message-txt{

}

.order-body{
    background: #fff;
}

.order-body-header{
    padding: 0.5em 0;
}

.order-body-header .col1{
    padding-top: 0.5em;
    height: 1.5em;
    width: 35%;

}

.order-body-header .col2{
    margin-left: 2em;
    width: 35%;
}

.order-body-deliveryDetails{

}

.order-body-deliveryDetails .col1{
    width:50%;
}

.order-body-deliveryDetails .col2{
    top: 50%;
    position: absolute;
    border-left: 1px solid #a7a7a7;
    padding: 0 1em;
}

.order-body-deliveryDetails .clo2 div{

}

.order-body-senderDetails{

}

.order-body-productDetails{
    padding: 1em 0 ! important;
}

.order-body-productDetails-head{
    padding: 0.5em 2em;
}

.order-body-productDetails-body{
    width: 100%;
    display: table;
}

.order-body-footer{
    padding: 1em 2em;
}

.order-body-footer .col1{
    width: 45%;
    padding: 0.3em 0.5em 0.3em 0;
}

.order-body-footer .col2{
    margin-left: 2em;
}

.sign-box{
    width: 50%;
    margin-top: -1em;
    margin-left: 8.5em;
}

.sign-box.right-sign-box{
    margin-left: 10em;
}

.product-image{
    width: 6em;
}

.t-col-1,.t-col-2, .t-col-3, .t-col-4, .t-col-5{
    padding: 0.5em 1em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.t-col-1{
   width:2%;

}

.t-col-2{
    width:20%;
}

.t-col-3{
    width:20%;
}

.t-col-4{
    width:45%;
}

.t-col-5{
    width:10%;
}

.order-body-feedback{
    padding: 1em 2em;
}

.feedback-check-box{
    margin-left: 2em;
    display: inline;
}

.order-body-header, .order-body-deliveryDetails, .order-body-senderDetails, .order-body-productDetails, .order-body-feedback, .order-body-footer{
    padding:1em 2em;
}


.prod-bg{
    background:#f3f8f9;
}

.order-body-productDetails-body:last-child{
    border-bottom:0;
    margin-bottom: -15px;
}

.fd-option{
    /*margin-left:5em;*/
}

.fd-option:first-child{
    /*margin-left:1em;*/
}

.recipient-addr {
    line-height: 1.3em;
}

.img-logo{
    width: 11em;
}
