<div class="scrollTop" *ngIf="wOptions.type === 'scrollTop'">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" (click)="scrollUp($event)"></span>
</div>


<div class="confirmMainCont" *ngIf="wOptions.type === 'confirm'">
        <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block; overflow:scroll; background: rgba(0, 0, 0, 0.77); z-index:9999999;">
            <div class="modal-dialog modal-lg" [ngClass]="{'popupSize1' : (!isMobile)}">
                <div class="modal-content" style="top: 40vh; border-radius: 0;">
                    <div class="modal-body center-align no-padding" style="font-size: 1.5em;font-weight: 600;">
                        <div class="confirmTop" style="padding: 1em;">
                            <p>{{wOptions.data.confirm.message}}</p>
                        </div>
                        <div class="confirmBottom" style="background:#eaeaea">
                            <div (click)="confirmYesNo($event, 'yes')" class="btn bg-igp text-white" style="float:left; border-radius: 0; width: 50%; height:45px; padding-top: 11px;">{{wOptions.data.confirm.yesBtn}}</div>
                            <div (click)="confirmYesNo($event, 'no')" class="btn" style="border-radius: 0; width: 50%;height:45px; padding-top: 11px;">{{wOptions.data.confirm.noBtn}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<ng-container *ngIf="wOptions.type === 'dropDown'">
    <div class="widget dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="dDOpen($event)">
            {{wOptions.data.title}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ddleft no-padding" style="display:block;" *ngIf="widgetDdFlag">
            <ng-container *ngFor="let option of wOptions.data.dDOptions">
                <!--<ng-container *ngIf="option.pageLength">-->
                    <ng-container *ngIf="option.anchor">
                        <a href="{{option.anchor}}" [ngClass]="{'disableBtn' : !option.pageLength}"><li>{{option.title}}</li></a>
                    </ng-container>
                    <ng-container *ngIf="option.event">
                        <li (click)="widgetClkEvent($event, option.event)" [ngClass]="{'disableBtn' : !option.pageLength}">{{option.title}}</li>
                    </ng-container>
                <!--</ng-container>-->
            </ng-container>

        </ul>
    </div>
</ng-container>




<!--
Examples:-
<app-widgets [wOptions]="{type : 'scrollTop', scrollContainer:'#mainOrderSection'}"></app-widgets>
<app-widgets [wOptions]="{type : 'confirm', data: {"confirm" : {"message" : "", "yesBtn": "", "noBtn": ""}}}"></app-widgets>
-->