.scrollTop{
    box-shadow: 1px 1px 1px #f2f2f2;
    background: #f2f2f2;
    border-radius: 50%;
    padding: 0.5em;
    border: 1px solid #f2f2f2;
    z-index: 999;
    position: fixed;
    right: 1.5em;
    bottom: 1em;
}

.ddleft{
    left: auto ! important;
    right: 0 ! important;
}

.widget.dropdown ul li{
    padding:0.5em;
    cursor:pointer;
    border-bottom: 1px solid #eee;
}
.widget.dropdown ul li:last-child{
    border-bottom: none;
}

.widget.dropdown ul li:hover{
    background:#eee;
    font-weight:600;
}