.scrollTop{
    box-shadow: 1px 1px 1px #f2f2f2;
    background: #f2f2f2;
    border-radius: 50%;
    padding: 0.5em;
    border: 1px solid #f2f2f2;
    z-index: 999;
    position: fixed;
    right: 1.5em;
    bottom: 1em;
}