:host {
    font-size: 18px;
}

.main-container {
    margin-bottom: 28px;
    margin-top: 58px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    border: 1px solid;
    font-weight: 400;
    padding: 6px 5px;
}

img {
    width: 100%;
    height: 70px;
}

.order-img {
    border: 1px solid;
    margin: 16px;
    padding: 6px;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    position: relative;
    /* min-height: 220px; */
    max-height: 221px;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C3404E;
    border-radius: 10px;
}

.receiver-details-container {
    border: 1px solid;
    width: 91%;
    padding: 6px;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
}

.receiver-details-container>button {
    font-size: 12px;
    border: 1px solid #000;
    margin: 4px;
    text-align: center;
    width: 47%;
    padding: 5px 18px;
}

.reciever-container {
    margin: 0px 16px;
}

.photo-container {
    display: flex;
    justify-content: space-evenly;
}

.photo-container>button {
    border: 1px solid;
    background: #fff;
    padding: 6px 16px;
    border-radius: 35px;
}

.delivered-btn {
    display: flex;
    margin: 28px 8px;
    text-align: center;
    /* border: 1px solid #000; */
    font-weight: 500;
    /* border-radius: 35px; */
}

.delivered-btn> button{
    width: 100%;
    padding: 11px;
    color: #4BB543;
    border: 1px solid #000;
    border-radius: 35px;
}

.uploadedFiles{
    border: 1px dashed gray;
    flex: 1 1 auto;
    text-align: center;
    padding: 16px;
    min-width: 25%;
    max-width: 25%;
}

.uploadedFiles>i {
    position: absolute;
    right: 1px;
    top: 0px;
}
.hidden-input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.spinner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}