<div class="main-container">
    <!-- Header -->
    <div class="header-container">
        <div><i class="fa fa-align-justify"></i></div>
        <div style="color: #4BB543; font-weight:500;">Mark As Delivered</div>
        <div></div>
    </div><!-- Header Ends -->
    <!-- Out For Delivered Image Taken Section -->
    <mat-card style="margin:8px;">
        <div class="taken-img-header">
            <ng-container *ngIf="uploadedFiles.ofdImages.length > 0 else noOfdImage">Out For Delivery images
            </ng-container>
            <ng-template #noOfdImage>No Out For Delivery images</ng-template>
        </div>

        <div class="order-img" *ngIf="uploadedFiles.ofdImages.length > 0" [ngStyle]="{opacity: loading ? '0.5' : '1'}">
            <div class="uploadedFiles relative" *ngFor="let uploadedFile of uploadedFiles.ofdImages; let i = index;">
                <img class="image" id="img{{i}}" src="{{uploadedFile}}" alt="uploadedImages" width="460" height="200"
                    (click)="imagePreview($event, uploadedFile)" (load)="loaded()" />
                <!-- <i class="fa fa-times-circle" (click)="dltUploadedImage($event, uploadedFile)"></i> -->
            </div>
            <div [ngStyle]="{display: loading ? 'flex' : 'none'}" class="spinner">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </mat-card>

    <!-- Out For Delivered Image Taken Section Ends -->
    <!-- Delivered Image Taken Section -->
    <mat-card style="margin:8px;">
        <div class="taken-img-header">
            <ng-container *ngIf="uploadedFiles.dImages.length > 0 else noDImage">Delivered images</ng-container>
            <ng-template #noDImage>No Delivered images</ng-template>
        </div>
        <div class="order-img" *ngIf="uploadedFiles.dImages.length > 0" [ngStyle]="{opacity: loading ? '0.5' : '1'}">
            <div class="uploadedFiles relative" *ngFor="let uploadedFile of uploadedFiles.dImages; let i = index;">
                <img class="image" id="img{{i}}" src="{{uploadedFile}}" alt="uploadedImages" width="460" height="200"
                    (click)="imagePreview($event, uploadedFile)" (load)="loaded()" />
                <i class="fa fa-times-circle" (click)="dltUploadedImage($event, uploadedFile)"></i>
            </div>
            <div [ngStyle]="{display: loading ? 'flex' : 'none'}" class="spinner">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </mat-card>

    <!-- Delivered Image Taken Section Ends -->
    <!-- Delivery Address -->
    <mat-card style="margin: 8px">
        <div class="receiver-details-container">
            <button [ngStyle]="{background: recipientInfo === 'self' ? '#fff' : '#ccc'}"
                (click)="getRecipientInfo('self')">SELF</button>
            <button [ngStyle]="{background: recipientInfo === 'neighbor' ? '#fff' : '#ccc'}"
                (click)="getRecipientInfo('neighbor')">NEIGHBOR</button>
            <button [ngStyle]="{background: recipientInfo === 'securitygaurd' ? '#fff' : '#ccc'}"
                (click)="getRecipientInfo('securitygaurd')">SECURITY GUARD</button>
            <button [ngStyle]="{background: recipientInfo === 'others' ? '#fff' : '#ccc'}"
                (click)="getRecipientInfo('others')">OTHER</button>
        </div>
        <!-- Delivery Address Ends -->
        <!-- Reciever's Details -->
        <div class="reciever-container">
            <form [formGroup]="myForm">
                <div class="form-row">
                    <div class="input-container">
                        <mat-form-field>
                            <input formControlName="name" matInput placeholder="Recipient name">
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-container-full-with">
                        <mat-form-field>
                            <div style="display: flex; align-items: center;">
                                <div>+91</div>
                                <input type="tel" formControlName="phone" matInput>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <!-- Reciever's Details Ends -->
    </mat-card>
    <!-- Order Photos -->
    <div class="photo-container">
        <!-- <button>POD Photo</button> -->

            <div class="photo">
                    <label>
                        <input id="fileInput" type="file" [(ngModel)]="statusReasonModel.deliveredStatusFile" #deliveredStatusFile="ngModel"
                        (change)="fileChange($event)" accept="image/*" capture="camera"/>
                        Take Photo
                    </label>
                    <div class="clearfix"></div>
                </div>
        <!-- <button (click)="upload()">Take Photo</button>
        <input id="fileInput" class="hidden-input" name="deliveredStatusFile" type="file"
            [(ngModel)]="statusReasonModel.deliveredStatusFile" #deliveredStatusFile="ngModel"
            (change)="fileChange($event)" placeholder="Upload Delivery Challan" accept=".jpeg, .jpg, .png" multiple /> -->
    </div>
    <!-- Order Photos Ends -->
    <div class="delivered-btn">
        <button [ngClass]="{'disable':(recipientInfo && (uploadedFiles.dImages.length > 0)) ? false : true}"
            (click)="updateOrder('Delivered')">DELIVERED</button>
        <!-- <a routerLink="/delivery-app/orders-delivered">DELIVERED</a> -->
    </div>
    <div style="clear: both"></div>
</div>