:host {
    font-size: 18px;
}

.main-container {
    margin-bottom: 28px;
    /* margin-top: 58px; */
    padding: 0px 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    border: 1px solid;
    font-weight: 400;
    padding: 6px 5px;
}

img {
    width: 100%;
    height: 70px;
}
.taken-img-header{
    color: #C3404E;
    font-weight: 500;
    font-size: 19px;
}
.order-img {
    border: 1px solid;
    margin: 16px;
    padding: 6px;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    position: relative;
    /* min-height: 220px; */
    max-height: 221px;
    overflow: auto;
    border-radius: 3px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C3404E;
    border-radius: 10px;
}

.receiver-details-container {
    border: 1px solid;
    width: 91%;
    padding: 6px;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
}

.receiver-details-container>button {
    color: #fff;
    font-size: 12px;
    border: none;
    margin: 4px;
    text-align: center;
    width: 47%;
    padding: 5px 18px;
    background: #C3404E;
}

.reciever-container {
    margin: 0px 16px;
}

.photo-container {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 8px;
}

.photo-container>button {
    /* border: 1px solid; */
    background: #fff;
    padding: 6px 16px;
    /* border-radius: 35px; */
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px #ccc;
    
}
.photo-container>.photo {
    background: #C3404E;
    padding: 6px 16px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px #ccc;
    border: 0.5px solid #ccc;
    color: #fff;
    padding-bottom: 0;
    box-shadow: 1px 2px 4px 0px #ccc;
}

.delivered-btn {
    display: flex;
    text-align: center;
    font-weight: 500;
    margin-top: 6px;
}

.delivered-btn> button{
    width: 100%;
    padding: 11px;
    color: #fff;
    background:#4BB543;
    border: none;
    /* border: 1px solid #000; */
    /* border-radius: 35px; */
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px #ccc;
}

.uploadedFiles{
    border: 1px dashed gray;
    flex: 1 1 auto;
    text-align: center;
    padding: 16px;
    min-width: 25%;
    max-width: 25%;
    border-radius: 3px;
}

.uploadedFiles>i {
    position: absolute;
    right: 1px;
    top: 0px;
}
.hidden-input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.spinner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
/* .disable{
    pointer-events: none;
    opacity: 0.5;
} */

input[type="file"] {
    /* display: none; */
    position: absolute;
    right: 10000px;
}
.delivered-btn>button.active {
    opacity: 1;
}

.delivered-btn>button.disable {
    opacity: 0.5;
}
.error-notify-element-1 {
    animation: pulse-1 1s infinite;
}

.error-notify-element-2 {
    animation: pulse-2 1s infinite;
}

.errText {
    font-size: 16px;
    color: #C3404E;
    text-align: center;
}

@keyframes pulse-1 {
    0% {
        border: 4px solid #001F3F;
        color: #001F3F;
    }
    100% {
        border: 4px solid #C3404E;
        color: #C3404E;
    }
}

@keyframes pulse-2 {
    0% {
        color: #001F3F;
    }
    100% {
        color: #C3404E;
    }
}