<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <h3>Categories Content</h3>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Categories for Blogs Home Page</h3>
              </div>
              <div class="panel-body">
                  <form #catDataForm="ngForm" (ngSubmit)="catDataForm.form.valid" novalidate="novalidate">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group" [ngClass]="{ 'has-error': catDataForm.submitted && !webstore.valid }">
                                  <label for="">Webstore</label>
                                  <select class="form-control" name="webstore" #webstore="ngModel" [(ngModel)]="model.webstore" (change)="getCategories()" required>
                                      <option value="">Select Webstore</option>
                                      <option value="5">IGP</option>
                                      <option value="830">Interflora</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{ 'has-error': catDataForm.submitted }">
                                <!-- <label for="">Categories</label> -->
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div *ngFor="let cat of categories" class="panel panel-default">
                                      <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapseOne" data-parent="#accordion" data-target="#collapseOne">
                                        <h4 class="panel-title" >
                                          <a role="button" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle">
                                              {{cat.title}}
                                          </a>
                                        </h4>
                                      </div>
                                      <div *ngFor="let sc of cat.subcategory" id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            {{sc.title}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>