<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <h3>Categories Content</h3>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Categories for Blogs Home Page</h3>
              </div>
              <div class="panel-body">
                    
                  <form id="target" #catDataForm="ngForm">
                        <!-- <button type="submit" (click)="addCategory()"  class="btn btn-primary pull-right">Add</button>  -->
                        <input class="btn btn-primary btn-sm" type="button" (click)="addCategory()" value="Add" />
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group" [ngClass]="{ 'has-error': catDataForm.submitted && !webstore.valid }">
                                  <label for="">Webstore</label>
                                  <select class="form-control" name="webstore" #webstore="ngModel" [(ngModel)]="model.webstore" (change)="getCategories()" required>
                                      <option value="">Select Webstore</option>
                                      <option value="5">IGP</option>
                                      <option value="830">Interflora</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div *ngIf="model.webstore != ''" class="form-group">
                                <!-- <label for="">Categories</label> -->
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div *ngFor="let cat of categories" class="panel panel-default">
                                      <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapse">
                                        <h4 class="panel-title" >
                                          <a style="text-decoration: none" role="button" aria-expanded="true" aria-controls="collapse" (click)="handleClick($event)" class="accordion-toggle">

                                                <i *ngIf="cat.status" class="fa fa-eye" aria-hidden="true"></i> <i *ngIf="!cat.status" class="fa fa-eye-slash" aria-hidden="true"></i>  {{cat.title}} <button class="btn btn-primary btn-sm" type="submit" (click)="editCategory(cat,'cat')" value="Edit">Edit <i class="fa fa-pencil"></i></button> <button *ngIf="!cat.status" class="btn btn-primary btn-sm" type="submit" (click)="enableCategory(cat)" value="Delete" >Enable</button> <button *ngIf="cat.status" class="btn btn-danger btn-sm" type="submit" (click)="deleteCategory(cat.id,cat.fkasid)" value="Delete" >Disable</button>
                                                
                                          </a>
                                        </h4>
                                      </div>
                                        <div *ngFor="let sc of cat.subcategory" id="collapse" class="panel-collapse collapse in" style="margin-left: 40px;" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                                <i *ngIf="sc.status" class="fa fa-eye" aria-hidden="true"></i><i *ngIf="!sc.status" class="fa fa-eye-slash" aria-hidden="true"></i>   {{sc.title}} <button class="btn btn-primary btn-sm" type="submit" (click)="editCategory(sc,'sc')" value="Edit">Edit <i class="fa fa-pencil"></i></button> <button *ngIf="!sc.status" class="btn btn-primary btn-sm" type="submit" (click)="enableCategory(sc)" value="Delete">Enable</button> <button *ngIf="sc.status" class="btn btn-danger btn-sm" type="submit" (click)="deleteCategory(sc.id, sc.fkasid)" value="Delete">Disable</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<app-category-modal id='sidebar' *ngIf="showSideBar" [model]="cat" (catClick)="clickDetect($event)"></app-category-modal>