<app-delivery-header [title]="headerTitle"></app-delivery-header>

<div class="main-container">
    <!-- Header -->
    <!-- Header Ends -->
    <!-- Reasons -->
        <div class="reasons-cointainer">
            <div>REASONS:</div>
            <button [ngStyle]="{opacity: undeliveredReason === 'Address couldn\'t be found' ? '1' : '0.5'}" (click)="getRecipientInfo('Address couldn\'t be found')">Address couldn't be found</button>
            <button [ngStyle]="{opacity: undeliveredReason === 'Incorrect address' ? '1' : '0.5'}" (click)="getRecipientInfo('Incorrect address')">Incorrect address</button>
            <button [ngStyle]="{opacity: undeliveredReason === 'Mobile number was not reachable' ? '1' : '0.5'}" (click)="getRecipientInfo('Mobile number was not reachable')">Mobile number was not reachable</button>
            <button [ngStyle]="{opacity: undeliveredReason === 'Door was locked/No one answered the door' ? '1' : '0.5'}" (click)="getRecipientInfo('Door was locked/No one answered the door')">Door was locked/No one answered the door</button>
            <button [ngStyle]="{opacity: undeliveredReason === 'Security denied entry' ? '1' : '0.5'}" (click)="getRecipientInfo('Security denied entry')">Security denied entry</button>
            <button [ngStyle]="{opacity: undeliveredReason === 'Recipient denied delivery' ? '1' : '0.5'}" (click)="getRecipientInfo('Recipient denied delivery')">Recipient denied delivery</button>
            <!-- <button [ngStyle]="{opacity: undeliveredReason === 'Other' ? '#fff' : '#ccc'}" (click)="getRecipientInfo('Other')">Other</button>
            <textarea *ngIf="undeliveredReason === 'Other'" rows="4" cols="50" (change)="doTextareaValueChange($event)">{{textareaValue}}</textarea> -->
        </div>
    <!-- Reasons Ends -->

    <div class="undelivered-btn">
        <button [ngStyle]="{opacity: undeliveredReason ? 1 : 0.5}" [disabled]="!undeliveredReason" (click)="updateOrder('AttemptedDelivery')">UNDELIVERED</button>
    </div>
    <div style="clear: both"></div>
</div>