textarea {
    resize: none !important;
}

textarea::-webkit-scrollbar {
    width: 8px;
    background-color: #fafafa;
}
  
textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aaa;
}
.searchFiled {
    margin: 0.1em 0.5em;
    width: 20% !important;
    padding: 15px;
    display:inline-block;
    /* border:1px solid red; */
    position: relative;
}

.updateField {
    margin: 0.1em 0.5em;
    width: 75% !important;
    padding: 15px;
    display: inline-block;
    /* border:1px solid red; */
    

}

.width50{
    /* border:1px solid green; */
    width:50%;
    padding:5px;
    display: inline-block !important;
}

.width33{
    /* border:1px solid green; */
    width:33%;
    padding:5px;
    display: inline-block !important;
}

.width100{
    width:100%;
    padding:5px;
    display: inline-block !important;
}

.p-absolute{
    position: absolute;
}

.destination-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .destination-radio-button {
    margin: 5px;
  }
.r-buttons{
    text-align: right;
    bottom: 0;
    margin-top: 35px;
}
.btnRadius{
    margin:5px;
    border-radius: 5px;
}  
/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }
  