<div class="main-container">

  <form [formGroup]="addMoneyForm" (ngSubmit)="addMoneyToWallet(addMoneyForm)">
    <div class='col-md-12'>
      <div class='headerUnderLine addMoney col-md-12'>
        Summary


      </div>


      <div class="balance col-md-12 marginB20">
        <div class="col-md-12 marginB20" style="margin-bottom:20px"
          *ngIf="env.userType == 'egv_admin' || env.userType.includes('parent')">
          <mat-form-field class="addMoneyInput width15" *ngIf="env.userType =='egv_admin'">
            <mat-label>Select a Wallet</mat-label>
            <input type="text" matInput formControlName="selectedUser" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getUserSelected($event.option.value)'
              [displayWith]="userDisplayFn">
              <mat-option *ngFor="let option of filteredUserList | async" [value]="option">
                {{option.company_name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="filterElement" *ngIf="addMoneyForm.value.selectedUser">
            <mat-label>Select a wallet</mat-label>
            <input type="text" matInput placeholder='Select a wallet' formControlName="selectedChild"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getChildSelected($event.option.value)'
              [displayWith]="userDisplayFn">
              <mat-option *ngFor="let option of filteredChildList | async" [value]="option">
                {{option.company_name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="loadingSummary else loaded">
          Select a Wallet to view Summary.
        </div>


        <ng-template #loaded>
          <div class="col-md-12">
            <!-- <div class="col-md-3 summaryBox" style="height:0;border:0" *ngIf="env.userType!='egv_admin' && env.userType != 'sub_egv_admin' && env.userType != 'wb_yourigpstore' && !env.userType.includes('parent')"></div> -->

            <div class="col-md-3 col-sm-12 summaryBox d-flex">
              <div style="flex: 0.7;font-size: 1.3em;">
                <i class="fa fa-balance-scale summary-icon-circle" ></i>
              </div>
              <div style="flex: 1;text-align: end;padding-right: 0.5em;">
                <div style="margin:auto;font-size: 1.1em;">&#8377; {{walletSummary.balance || '0' | indianNumeric}}
                </div>
                <div class="summaryIcon"> Balance</div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 summaryBox d-flex"
              *ngIf="env.userType=='egv_admin'|| env.userType == 'wb_yourigpstore'">
              <!-- <div style='margin:auto'>&#8377; {{walletSummary.dailyTransLimit || '0' | indianNumeric}}</div>
              <div class="summaryIcon"><i class="fa fa-sliders fa-rotate-90"></i> Daily Limit </div> -->
              <div style="flex: 0.7;font-size: 1.3em;">
                <i class="fa fa-sliders fa-rotate-90 summary-icon-circle"></i>
              </div>
              <div style="flex: 1;text-align: end;padding-right: 0.5em;">
                <div style="margin:auto;font-size: 1.1em;">&#8377;
                  {{walletSummary.dailyTransLimit || '0' | indianNumeric}}</div>
                <div class="summaryIcon"> Daily Limit</div>
              </div>
            </div>

            <!-- <div class="col-md-3  col-sm-12 summaryBox"
              *ngIf="env.userType=='egv_admin'  || env.userType == 'wb_yourigpstore'">
              <div style='margin:auto'>&#8377; {{walletSummary.creditLimit ||'0' | indianNumeric}}</div>
              <div class="summaryIcon">
                <i class="fa fa-credit-card "></i> Credit Limit </div>
            </div> -->
            <div class="col-md-3  col-sm-12 summaryBox d-flex"
              *ngIf="env.userType=='egv_admin'  || env.userType == 'wb_yourigpstore'">
              <div style="flex: 0.7;font-size: 1.3em;">
                <i class="fa fa-credit-card summary-icon-circle"></i>
              </div>
              <div style="flex: 1;text-align: end;padding-right: 0.5em;">
                <div style="margin:auto;font-size: 1.1em;">&#8377;
                  {{walletSummary.creditLimit || '0' | indianNumeric}}</div>
                <div class="summaryIcon"> Credit Limit</div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 summaryBox d-flex"
              *ngIf="env.userType=='egv_admin'  || env.userType == 'wb_yourigpstore'">
              <!-- <div style='margin:auto'>{{walletSummary.creditLimitDays || '0'}}
                {{(walletSummary.creditLimitDays>1)?'days':'day'}}</div>
              <div class="summaryIcon"> <i class="fa fa-calendar"></i> Credit Period </div> -->
              <div style="flex: 0.7;font-size: 1.3em;">
                  <i class="fa fa-calendar summary-icon-circle"></i>
                </div>
                <div style="flex: 1;text-align: end;padding-right: 0.5em;">
                  <div style="margin:auto;font-size: 1.1em;">&#8377;
                    {{walletSummary.creditLimitDays || '0' | indianNumeric}}</div>
                  <div class="summaryIcon"> Daily Limit</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 summaryBox d-flex">
              <!-- <div style='margin:auto'>{{walletSummary.active?'Active':'Inactive'}}</div>
              <div class="summaryIcon">
                <i class="fa fa-check" *ngIf=" walletSummary.active"></i>
                <i class="fa fa-times" *ngIf=" !walletSummary.active"></i> Status
              </div> -->
              <div style="flex: 0.7;font-size: 1.3em;">
                  <!-- <i class="fa fa-calendar" class="summary-icon-circle"></i> -->
                  <i class="fa fa-check summary-icon-circle" *ngIf=" walletSummary.active"></i>
                <i class="fa fa-times summary-icon-circle" *ngIf=" !walletSummary.active"></i>
                </div>
                <div style="flex: 1;text-align: end;padding-right: 0.5em;">
                  <div style="margin:auto;font-size: 1.1em;">&#8377;
                    {{walletSummary.creditLimitDays || '0' | indianNumeric}}</div>
                  <div class="summaryIcon">{{walletSummary.active?'Active':'Inactive'}}</div>
                </div>
            </div>

          </div>

        </ng-template>
      </div>
    </div>
    <!-- *ngIf="env.userType == 'egv_admin' || env.userType.includes('parent')" -->
    <div class="col-md-12" *ngIf="env.userType == 'egv_admin' || env.userType.includes('parent')">
      <div class='addMoney headerUnderLine col-md-12'>
        Add Money To Wallet
      </div>
      <div class="col-md-12 marginB20">

        <div>
          <mat-form-field class="addMoneyInput width20 marginB20">
            <mat-label> Enter Amount*</mat-label>
            <input matInput name='amount' type="number" placeholder="Enter Amount" formControlName="addMoneyAmount">
          </mat-form-field>

          <mat-form-field class="addMoneyInput width20">
            <mat-label> Enter UTR*</mat-label>
            <input matInput name="utr" type="text" placeholder="Enter UTR" formControlName="addMoneyTransactionId">
          </mat-form-field>
          <mat-form-field class="addMoneyInput width20">
            <mat-label> Comments (optional)</mat-label>
            <input matInput name="comments" type="text" placeholder="Comments" formControlName="comments">
          </mat-form-field>

          <button mat-flat-button class="addMoneyButton" type="submit"
            [ngStyle]="{'background-color': whitelabelStyle ? whitelabelStyle.primaryColor : '', 'color': whitelabelStyle ? whitelabelStyle.secondaryColor : ''}">Add
            Money</button>
          <!-- <mat-checkbox class="example-margin" [(ngModel)]="requestAddflag" [ngModelOptions]="{standalone: true}" *ngIf="addMoneyForm.get('selectedChild').value">Transfer Money To Selected Sub-wallet</mat-checkbox> -->
        </div>
        <!-- <div class="marginB20">
              
            </div> -->
        <div *ngIf="env.userType=='egv_admin' || env.userType == 'sub_egv_admin' || env.userType == 'wb_yourigpstore'">
          <div class="width20 addMoney">
            Change Parameter
          </div>
          <mat-form-field class="addMoneyInput width20">
            <mat-label>Select Parameter</mat-label>
            <mat-select formControlName="limitType">
              <mat-option *ngFor="let option of limitTypeList" [value]="option">{{option.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="addMoneyInput width20">
            <mat-label> Enter New Value</mat-label>
            <input matInput name='limitValue' type="number" placeholder="Enter New Value" formControlName="limitValue">
          </mat-form-field>
          <button mat-flat-button type="button" class="addMoneyButton" (click)="updateLimit()"
            [ngStyle]="{'background-color': whitelabelStyle ? whitelabelStyle.primaryColor : '', 'color': whitelabelStyle ? whitelabelStyle.secondaryColor : '' }">Update</button>
        </div>


      </div>
    </div>
  </form>

  <div class="col-md-12"
    *ngIf="env.userType == 'egv_admin' || env.userType == 'sub_egv_admin' || env.userType == 'wb_yourigpstore'">
    <div class='addMoney headerUnderLine col-md-12'>
      Pending Approvals
    </div>
    <div class="col-md-12 marginB20">

    </div>

    <div class="col-md-12" *ngIf="dataSource?.data?.length > 0 else noRecord">

      <mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="column" *ngFor="let column of tableHeaders">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="column != 'Transaction Details' && column != 'Transaction Type' && column!= 'Amount' && column!= 'Balance' && column!= 'Actions'">
              {{element[column] || '-'}}
            </ng-container>
            <ng-container *ngIf="column == 'Amount' || column == 'Balance' ">
              {{element[column] || '-' | indianNumeric}}
            </ng-container>
            <ng-container *ngIf="column == 'Transaction Type' ">
              {{element['TransactionType'] || '-'}}
            </ng-container>
            <ng-container *ngIf="column == 'Transaction Details'">
              {{getTxnDetails(element)}}
            </ng-container>
            <ng-container *ngIf="column == 'Actions'">
              <button mat-button color="primary" (click)='approveTransaction($event,element,true)'>
                <i class="fa fa-check"></i> Approve</button>
              <button mat-button color="warn" (click)='approveTransaction($event,element,false)'><i
                  class="fa fa-times"></i>
                Reject</button>
            </ng-container>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableHeaders;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" length="{{dataSource?.length}}" showFirstLastButtons>
      </mat-paginator>
    </div>
    <ng-template #noRecord>
      <div class="col-md-12" style="color: #C3404E;">No Approvals Pending</div>
    </ng-template>
  </div>

</div>