.disabled {
    cursor: not-allowed;
}

#edtBtn{
    margin-right: 5px;
}

#cnlBtn{
    margin-right: 5px;
}
.create-blog-container{
    min-height: 100vh;
}

.create-blog-container textarea{
    resize: none;
}

.category-modal{
    position: fixed;
    width: 40%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 20;
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: 1px 1px 5px -1px #999;
    opacity: 1;
    visibility: visible;
    padding: 10px;
    min-height: 350px;
    overflow: auto;
}

.category-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000b5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
}

.close-category-modal{
    position: absolute;
    right: 0;
    padding: 5px 10px;
    top: 0;
    font-size: 22px;
    z-index: 1;
    cursor: pointer;
}

.category-list ul {
    list-style: none;
}

h4{
    display: inline-block;
}

.image-responsive{
    width: 100%;
    height: auto;
}

.image-container{
    padding: 10px;
    background-color: #e2e2e2;
    box-shadow: 0px 1px 4px #999;
    overflow: hidden;
}

.selected-images{
    margin: 1em 0;
}

.blog-image-upload{
    /* position: relative; */
    margin-bottom: 1.5em;
    width: 0;
}

.blog-image-upload:after{
    position: absolute;
    width: auto;
    /* min-height: 100%; */
    background: #c3404e;
    color: #ffffff;
    content: 'Add Images +';
    left: 0;
    top: 0;
    padding: 10px;
    white-space: nowrap;
    border-radius: 5px;
}

.manage-media{
    position: relative;
}

.media-loading-screen{
    position: absolute;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    background: #ffffffc4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-default{
    margin-top: 37px;
}