<section class="create-blog-container">
    <br/>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div  *ngIf="showGrid;else other_content" class="panel-body">
                    <button type="submit"  class="btn btn-primary pull-right"  (click)="deleteBlog()" >Delete</button>
                    <button type="submit" id="edtBtn" *ngIf="type=='view'"  class="btn btn-primary pull-right" [style.visibility]="disableEditButton" (click)="editBlog()" >Edit</button>
                    <button type="submit" id="cnlBtn"  class="btn btn-primary pull-right" [style.visibility]="cnlBtnVisibility"  (click)="canBlog()" >Cancel</button>
                    <br/><br/>
                <form id="target"  #createBlog="ngForm" (ngSubmit)="createBlog.form.valid" novalidate>
                    <!-- Store and Categories selection panel -->
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Store and Categories
                            </h3>
                        </div>
                        <div  class="panel-body">
                            <div  class="row">
                                <div class="col-md-3">
                                    <div  class="form-group" [ngClass]="{ 'has-error': createBlog.submitted && !webstore.valid }">
                                        <label for="">Webstore</label>
                                        <select class="form-control" name="webstore" #webstore="ngModel" [(ngModel)]="blogList.data.bloglist[0].fkasid" required (change)="resetCategoriesOnStoreChange()">
                                            <option value="">Select Webstore</option>
                                            <option value="5">IGP</option>
                                            <option value="830">Interflora</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Categories</label>
                                        <button (click)="showCategoryModal(blogList.data)" [ngClass]="{ 'btn-default' : isCategoryEmpty(), 'btn-primary' : !isCategoryEmpty()}"  class="btn btn-block" type="button"> <!---->
                                            <span *ngIf="isCategoryEmpty()">Select Categories</span>
                                            <span *ngIf="!isCategoryEmpty()">Edit Categories</span>
                                        </button>
                                    </div>  
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !status.valid }">
                                        <label for="">Status</label>
                                        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="blogList.data.bloglist[0].status" required>
                                            <option value="">Select Status</option>
                                            <option value="1">Visible</option>
                                            <option value="0">Hidden</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group" [ngClass]="{ 'has-error': createBlog.submitted && !sortOrder.valid }">
                                        <label for="">Sort Order</label>
                                        <input type="text" class="form-control" name="sortOrder" [(ngModel)]="blogList.data.bloglist[0].sortorder" #sortOrder="ngModel" value="-1" placeholder="Sort Order" required />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !publishdate.valid}">
                                        <label for="">Published Date</label>
                                        <input type="date" class="form-control" name="publishdate" placeholder="Published Date" [(ngModel)]="blogList.data.bloglist[0].publishdate" #publishdate="ngModel"
                                            id="publishdate" min={{blogList.data.bloglist[0].minDate}} max="2019-06-30" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Meta Information Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Meta Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="isFeatured" [(ngModel)]="blogList.data.bloglist[0].flagfeatured" #isFeatured="ngModel" /> Make this Featured
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error': createBlog.submitted && !url.valid }">
                                        <label for="">URL</label>
                                        <input type="text" class="form-control" onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31 || event.charCode == 45' name="url" [(ngModel)]="blogList.data.bloglist[0].url" #url="ngModel" placeholder="URL" required (focusout)="checkUniqueUrlValue(blogList.data.bloglist[0])"  maxlength="170"/>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !title.valid}">
                                        <label for="">Title</label>
                                        <input type="text" class="form-control" placeholder="Title" name="title" #title="ngModel" [(ngModel)]="blogList.data.bloglist[0].title" required maxlength="150"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !metaTitle.valid}">
                                        <label for="">Meta Title</label>
                                        <input type="text" class="form-control" placeholder="Meta Title" name="metaTitle" #metaTitle="ngModel" [(ngModel)]="blogList.data.seo.seotitle" required maxlength="72"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !desc.valid}">
                                        <label for="">Short Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Description" name="desc" #desc="ngModel" [(ngModel)]="blogList.data.bloglist[0].shortdescription" required maxlength="300"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !metaDesc.valid}">
                                        <label for="">Meta Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Meta Description" name="metaDesc" #metaDesc="ngModel" [(ngModel)]="blogList.data.seo.seodescription" required maxlength="300"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error' : createBlog.submitted && !keywords.valid}">
                                        <label for="">Meta Keywords</label>
                                        <textarea class="form-control" rows="3" placeholder="Meta Keywords" name="keywords" #keywords="ngModel" [(ngModel)]="blogList.data.seo.seokeywords" required maxlength="300"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- WYSIWYG Panel -->
                     <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            <h3 class="panel-title">Upload and Manage Images</h3>
                        </div>
                        
                        <div class="panel-body">
                            
                            <div class="manage-media">
                                <div class="row">
                                    <div *ngIf="type == 'edit'" class="col-md-12">
                                        <input class="blog-image-upload" type="file" multiple name="blogImages" (change)="uploadFiles($event)" />
                                    </div>
                                </div>
    
                                <div class="selected-images" *ngIf="blogList.data.bloglist[0].files.length;else no_images">
                                    <div class="row">
                                        <div class="col-md-12" *ngFor="let image of blogList.data.bloglist[0].files">
                                            <div class="image-container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="{{image.Location}}" class="image-responsive" />
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><strong>Name</strong> : {{image.key}}</p>
                                                        <p><strong>IGP Link</strong> : {{env.igpBlogCDN}}{{image.key}}</p>
                                                        <p><strong>Interflora Link</strong> : {{env.interfloraBlogCDN}}{{image.key}}</p>
                                                        <button (click)="makeFeaturedImage(image.key)" [ngClass]="{ 'btn-success' : isFeaturedImage(image.key), 'btn-default' : !isFeaturedImage(image.key)}"  class="btn btn-default" type="button">
                                                            <span *ngIf="!isFeaturedImage(image.key)">Make Featured Image</span>
                                                            <span *ngIf="isFeaturedImage(image.key)">Featured</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ng-template #no_images style="text-align: center;">No Images is uploaded...</ng-template>
                                </div>
                                <div class="media-loading-screen" *ngIf="isUploading">
                                    <h3>Uploading Images..</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- WYSIWYG Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Content Editor</h3>
                        </div>
                        <div class="panel-body">
                            <ckeditor
                            [(ngModel)]="blogList.data.bloglist[0].description"
                            [readonly]="false"
                            [ngModelOptions]="{standalone: true}"    
                        ></ckeditor>
                        </div>
                    </div>

                    <!-- Submit and Reset Panel -->
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input class="btn btn-primary" type="submit" (click)="saveBlog(blogList.data)" value="Save" />
                            <!-- <input class="btn btn-danger" type="reset" value="Reset" /> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <ng-template #other_content style="text-align: center;">Loading...</ng-template>
        </div>
        </div>
    </div>
</section>

<div class="category-modal" *ngIf="showCategoryModalFlag">
    <div (click)="closeCategoryModal()" class="close-category-modal">
        &times;
    </div>

    <div class="category-list" *ngIf="categories.length">
        <div class="row">
            <div class="col-md-12">
                <h4>Select Category</h4>
                <ul>
                    <li *ngFor='let category of categories'>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="category" value="{{category.id}}" [id]="category.id" [(ngModel)]="blogList.data.bloglist[0].cat[category.id]"  (change)="updateSelectedCategories('cat', category.id, null, $event)" /> {{category.title}} 
                            </label>
                        </div>
                        <ul>
                            <li *ngFor='let sc of category.subcategory'>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="subcategory" value="{{sc.id}}" [id]="sc.id" [(ngModel)]="blogList.data.bloglist[0].subcat[sc.id]"  (change)="updateSelectedCategories('sc', category.id, sc.id, $event)" /> {{sc.title}} 
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </li>    

                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 text-right">
                        <input class="btn btn-primary" type="button" value="Close" (click)="closeCategoryModal()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-overlay" *ngIf="showCategoryModalFlag"></div>