.registerBtn{
    cursor: pointer;
}

.topBorder{
    border-top:1px solid #ccc;
    margin-top: 20px;
}

.rightAlign{
    text-align: right;
}
.example-form-field{
    width:50%
}

.noForm {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* margin-top: 50px; */
    padding-top: 151px;
}