.search-container{
    width: 100%;
    position: relative;
}
.product-container{
    display: flex;
    margin-bottom: 12px;
}
#dropDownContainer{
    position: absolute;
    z-index: 1000;
    width: 100%;
    top:35px;
    overflow: auto;
    max-height: 500px;
    background: #fff;
    box-shadow: 0px 3px 7px 2px #ccc;
    border-radius: 5px;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
    align-items: center;
}
.input-container {
    width: 50%;
}
.product-container-img{
    flex: 1;
}
.product-container-img > img{
    width: 100%;
    min-height: 80%;
}
.product-container-desp{
    flex: 2;
    padding-left: 1em;
}