:host {
    font-size: 18px;
}

.main-container {
    margin-bottom: 28px;
    margin-top: 58px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    border: 1px solid;
    font-weight: 400;
    padding: 6px 5px;
}

img {
    width: 100%;
    height: auto;
}

.order-img {
    border: 1px solid;
    margin: 16px;
    padding: 6px;
    text-align: center;
}

.order-img>div {
    margin-bottom: 16px;
}

.deilivery-addr {
    border: 1px solid;
    width: 91%;
    padding: 6px;
    margin: 16px auto;
}

.call-navigate-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    align-items: center;
}

.call-navigate-container>button {
    padding: 8px 23px;
    border: 1px solid;
    background: #ffff;
}

.call-btn {
    border: 1px solid #000;
    padding: 8px 22px;
    color: #000;
}

.delivery-status-container {
    display: flex;
    border: 1px solid;
    justify-content: center;
}

.delivery-status-container>a {
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
}

.delivery-status-container>a:first-child {
    border-right: 1px solid #000;
    background: #B33A3A;
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
    flex: 1;
}

.delivery-status-container>a:last-child {
    background: #4BB543;
    color: #fff;
}