
.filterElement{
    width:20%;
    margin-right: 15px;
}
.marginB20{
    margin-bottom:20px
}

.mat-dialog-container{
    height:90vh !important;
    width:80vw !important
}


::ng-deep .mat-sort-header-container{
    display: flex;
    /* display:flex; */
    /* justify-content: flex-end; */
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

::ng-deep .mat-header-cell.mat-column-Amount,
::ng-deep .mat-header-cell.mat-column-Order-Value,
::ng-deep .mat-header-cell.mat-column-TransferPrice,
::ng-deep .mat-header-cell.mat-column-Denomination,
::ng-deep .mat-header-cell.mat-column-Balance,
::ng-deep .mat-header-cell.mat-column-Denomination {
    justify-content: flex-end;
    text-align: right !important;
    display: flex;
}

::ng-deep .mat-cell,
::ng-deep .mat-column-Status {
    text-align: center;
    justify-content: center;
}

::ng-deep .mat-column-Amount,
::ng-deep .mat-column-Order-Value,
::ng-deep .mat-column-TransferPrice,
::ng-deep .mat-column-Denomination,
::ng-deep .mat-column-Balance,
::ng-deep .mat-column-Denomination 
{
    text-align: right !important;
}

.search-container-box{
    margin: 1px 19px 12px auto;
    border: 1px solid #a6a6a6;
    width: fit-content;
    padding: 0px 10px;
    border-radius: 3px;
}
.search-container-box>input{
    width: 200px;
    padding: 6px 4px;
}
.search-container-box>i{
    font-size: 1.2em;
    margin-bottom: 9px;
    color: #a6a6a6;
}

.main-container {
    width: 98%;
    margin: 0 auto;
}