.filterElement {
    width: 40%;
    margin-right: 15px;
}

.is-invalid {
    border: 1px solid red
}

.marginLR10 {
    margin-left: 10px;
    margin-right: 10px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    outline: none;
    margin-bottom: 0;
    padding: 10px 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label:hover {
    background-color: darken(#f15d22, 10%);
}

[type="file"]+label.btn-2 {
    background-color: #c3404e;
    overflow: hidden;
}