.example-form-field{
    width: 100%;
    margin: 2px 0;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    /* display:flex; */
    /* justify-content: flex-end; */
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.mat-cell, .mat-header-cell{
    text-align: inherit !important;
}

.btnColor{
    background-color: #626869;
    color: white;
}