<div class="main-container">
    <!-- Filter Form -->
    <mat-card *ngIf="SearchForm?.show">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-container">
                <div class="d-flex">
                    <ng-container *ngIf="SearchForm?.formFields?.dateRange?.datefrom?.show">
                        <mat-form-field class="m-8">
                            <input matInput [matDatepicker]="picker"
                                placeholder="{{SearchForm?.formFields?.dateRange?.datefrom?.placeholder}}"
                                (dateInput)="addEventFrom('input', $event)"
                                (dateChange)="addEventFrom('change', $event)" formControlName="datefrom"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="m-8">
                            <input matInput [matDatepicker]="pickers"
                                placeholder="{{SearchForm?.formFields?.dateRange?.dateto?.placeholder}}"
                                (dateInput)="addEventTo('input', $event)" (dateChange)="addEventTo('change', $event)"
                                formControlName="dateto" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                            <mat-datepicker #pickers></mat-datepicker>
                        </mat-form-field>
                    </ng-container>

                    <mat-form-field *ngIf="SearchForm?.formFields?.textSearch?.show" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.textSearch?.placeholder}}</mat-label>
                        <input formControlName="filter" matInput (keyup)="applyFilter($event)"
                            autocomplete="@@@&&&&9986345678">
                    </mat-form-field>

                    <mat-form-field *ngIf="SearchForm?.formFields?.multipleSelection?.show" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.multipleSelection?.placeholder}}</mat-label>
                        <mat-select formControlName="multipleSelection" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="SearchForm?.formFields?.Selection?.show" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.Selection?.placeholder}}</mat-label>
                        <mat-select formControlName="selection">
                            <mat-option *ngFor="let option of dropDownList" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="SearchForm?.formFields?.componentSelection?.show" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.componentSelection?.placeholder}}</mat-label>
                        <input type="text" matInput [formControl]="myComponentControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getComponents($event.option.value)' [displayWith]="componenetDisplayFn">
                            <mat-option *ngFor="let option of filteredComponentsOptions | async" [value]="option">
                                {{option.Component_Name}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="SearchForm?.formFields?.vendorSelection?.show && vendorList &&vendorList.length > 0"
                        class="m-8">
                        <mat-label>{{SearchForm?.formFields?.vendorSelection?.placeholder}}</mat-label>
                        <mat-select formControlName="vendorDetail" [compareWith]="compareObjects"
                            [(ngModel)]="selected">
                            <mat-option *ngFor="let vendor of vendorList" [value]="vendor">{{vendor.Vendor_Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [style.width.px]="300" *ngIf="SearchForm?.formFields?.stockComponentList?.show && stockComponentList && stockComponentList.length > 0" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.stockComponentList?.placeholder}}</mat-label>
                        <!-- <mat-select formControlName="vendorDetail" [(ngModel)]="selected_stock_comp">
                            <mat-option *ngFor="let stock_comp of stockComponentList" [value]="stock_comp">{{stock_comp.Component_Name}}
                            </mat-option>
                        </mat-select> -->
                        <input type="text" matInput formControlName="stockComponent" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayComponentName">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.Component_Name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field *ngIf="SearchForm?.formFields?.procList?.show && procList && procList.length > 0" class="m-8">
                        <mat-label>{{SearchForm?.formFields?.procList?.placeholder}}</mat-label>
                        <mat-select formControlName="procDetail" [(ngModel)]="selected">
                            <mat-option *ngFor="let proc of procList" [value]="proc">{{proc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>
                <div class="d-flex">
                    <button style="margin: 5px;" id="search" type="submit" mat-raised-button class="btn-color"
                        (click)="btnType = 'search'">Search</button>
                    <button style="margin: 5px;" id="download" type="submit" mat-raised-button class="btn-color"
                        (click)="btnType = 'download'">Download</button>
                        <button type="button" *ngIf="isStockedDowloadButton()" style="margin: 5px;" mat-raised-button class="pull-right btn-color" (click)="openStockedDownload()">Stocked Component Download</button>
                    <button *ngIf="isStockedDowloadButton()" style="margin: 5px;" id="upload" type="button" mat-raised-button class="btn-color"
                        (click)="onAddComponent()">Add Component</button>
                </div>
            </div>
        </form>

    </mat-card>
    <!-- Filter Form Ends -->
    <!-- New Table-->
    <div class="mat-elevation-z8" *ngIf="dataSource?.data?.length > 0 else noRecord">
        <div class="example-container mat-elevation-z8">
            <mat-form-field class="padding1">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cake" #input>
              </mat-form-field>
            <mat-table #table mat-table [dataSource]="dataSource" matSort (matSortChange)="test($event)">

                <ng-container matColumnDef="{{col.id}}" *ngFor="let col of columnNames">
                    <mat-header-cell class="mat-header-row" *matHeaderCellDef>
                        {{ getHeaderCellValue(col.value) | uppercase }}
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index">
                        <ng-container
                            *ngIf="getRowCellValue(element[col.id]) != 'img' && getRowCellValue(element[col.id]) != 'menu'">
                            <span *ngIf="col.id==='Fixed_Date_Delivery'">&nbsp;&nbsp;</span>
                            {{ getRowCellValue(element[col.id]) | dateformatter:dateFormat:col.id}} 
                            <i *ngIf="getEditTableCell(col.id) && showEditFlag(element,col.id)" class="fa fa-edit" style="cursor: pointer;"
                                (click)="openEditWindow(element, col.id, i)"></i>
                                <div *ngIf="env.userType==='admin' && element[col.id]['requestValue'] && element[col.id]['requestValue']!=='-1'">New Price: {{element[col.id]['requestValue']}}</div>
                        </ng-container>
                        <ng-container *ngIf="isInStockColumn(col.id)">
                            <i (click)="openEditWindow(element, col.id, i)" class="fa fa-edit" style="cursor: pointer;" ></i>
                        </ng-container>
                        <ng-container *ngIf="checkApproveBtn(element[col.id])">
                            <div class="tableDataActionBtn">
                                <div class="tableactBtn" (click)="approveReject($event, 1, col.id, element)">
                                    <span class="tableactBtntxt"><i class="fa fa-check"></i></span> &nbsp; |
                                </div>

                                <div class="tableactBtn" (click)="approveReject($event, 0, col.id, element)">
                                    <span class="tableactBtntxt"><i class="fa fa-ban"></i></span>
                                </div>
                            </div>
                    </ng-container>
                        <!-- <ng-container *ngIf="col.id==='actions'">
                            <button mat-button (click)="onEditAction(element)" >Edit</button>
                        </ng-container> -->
                        <ng-container *ngIf="getRowCellValue(element[col.id]) === 'img'"><img
                                src="{{env?.componentImageUrl+element[col.id]}}" alt="{{element[col.id]}}" width="50" height="50">
                        </ng-container>
                        <ng-container *ngIf="getRowCellValue(element[col.id]) == 'menu' && element[col.id].length > 0">
                            <ng-container *ngIf="col?.id.includes('image') else noImg">
                                <div *ngFor="let x of element[col.id]" class="img-grid"><img
                                        src="{{env?.componentImageUrl+x}}" width="100" height="100"
                                        (click)="imgPreview(env?.componentImageUrl+x)"></div>
                            </ng-container>
                            <ng-template #noImg>
                                <span style="cursor: pointer;" mat-button [matMenuTriggerFor]="menu"><i class="fa fa-caret-down"
                                        aria-hidden="true"></i>{{element[col.id]}}</span>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item *ngFor="let x of element[col.id]">{{x}}</button>
                                </mat-menu>
                            </ng-template>

                        </ng-container>
                        <ng-container *ngIf="col.id === 'Order_No'">
                            <img (click)="viewOrderDetail($event, element[col.id])" width="20"
                                style="cursor: pointer;float:left;" src="assets/images/icons/view.svg" alt="inr">
                        </ng-container>

                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[50]" (page)="matTablePageChange($event)" length="{{dataSource?.length}}" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
    <ng-template #noRecord>
        <mat-card style="color: #C3404E;">No Record</mat-card>
    </ng-template>
</div>

<!-- New Table Ends -->