
<div class="row page" id="order_{{getUniqueOrderId(order)}}" class="hide"  *ngIf="printType === 'order'">

    <section class="messgae-box-cont" *ngIf="order.commments">
            <div style="width:100%;">
                <div class="mb1">
                    <div class="messBgCont1">
                        <div class="messBgCont2">
                            <img class="imgCenter" src="{{messageBgImage}}" >
                        </div>
                    </div>
                </div>
                <div class="mb2">
                    <div class="mb">
                        <div class="messgae-box" style="text-align:left;">
                            <!--<p class="message-caption bold upper-txt">Message</p>-->
                            <div class="message-txt"><div style="font-family: message2; margin: 0 auto; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; white-space: -o-pre-wrap; white-space: -pre-wrap; white-space: pre-wrap;">{{order.commments}}</div></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

      <section class="header">
          <div class="display-inline igp-logo w-section">
              <img class="img-logo" src="assets/images/igp_black_logo.png" title="Indian Gifts Portal" data-pin-nopin="true">
           </div>
          <div class="display-inline print-caption w-section">
              <div class="print-caption-text upper-txt">Delivery Challan</div>
          </div>
      </section>

      <section class="order-main-body">


        <section class="order-body">
          <section class="order-body-header border-bottom">
                <div class="col1 border-right display-inline"><span class="bold">Order Id :</span> <span class="">{{order.orderId}}</span></div>
                <div class="col2 display-inline" *ngIf="order.orderProducts[0].orderProductExtraInfo">
                    <!--<span class="bold">Date of Delivery :</span> -->
                    <span class="">{{getDeliveryDetail(order.orderProducts[0].orderProductExtraInfo, order.datePurchased)}}</span>
                </div>
          </section>

          <section class="order-body-deliveryDetails border-bottom" style="position:relative;">
                <div class="col1 display-inline">
                    <p class="bold">Recipient Details :</p>
                    <div class="recipient-addr ">
                        <div>{{order.deliveryName}}</div>
                        <div>{{order.deliveryStreetAddress}}</div>
                        <div>{{order.deliveryStreetAddress2}}</div>
                        <div>{{order.deliveryCity}}-{{order.deliveryPostcode}}</div>
                        <div>{{order.deliveryState}}</div>
                    </div>
                </div>
                <div class="col2 display-inline">
                    <div class="">
                        <div>
                            <!--<span class="bold">Telephone :</span>-->
                            <!--<span class="">-</span>-->
                        </div>
                        <div>
                            <span class="bold">Mobile :</span>
                            <span class="">{{order.deliveryMobile}}</span>
                        </div>
                    </div>
                </div>
          </section>

          <section class="order-body-senderDetails border-bottom">
                <div>
                    <span class="bold">Sender Name :</span>
                    <span class="">{{order.customersName}}</span>
                </div>
          </section>

          <section class="order-body-productDetails border-bottom" [ngClass]="{'scaled' : (order.orderProducts.length > 2 && order.orderProducts.length < 4 && order.commments), 'scaled2' : (order.orderProducts.length > 3 && order.orderProducts.length < 5 && order.commments)}">
             <div class="order-body-productDetails-head border-bottom">
                 <div class="t-col-1 display-inline border-right">Sr. No.</div>
                 <div class="t-col-2 display-inline border-right">Image</div>
                 <div class="t-col-3 display-inline border-right">Delivery Details</div>
                 <div class="t-col-4 display-inline border-right">Product Description</div>
                 <div class="t-col-5 display-inline ">Qty</div>
             </div>

            <div class="order-body-productDetails-body border-bottom prod-bg" *ngFor="let orderProduct of order.orderProducts; let z='index'" [ngClass]="{'pagebreak' : z == 2 && order.commments}">
              <div class="product-row-cont">
                    <div class="t-col-1 display-inline ">{{z+1}}.</div>
                    <div class="t-col-2 display-inline">
                        <div style="margin-left: 0.7em;">
                            <img class="product-image" src="{{productsURL}}th/{{orderProduct.productImage}}" alt="product_img">
                        </div>
                    </div>
                    <div class="t-col-3 display-inline">
                        <div class="bold">Date:</div>
                        <div class="" *ngIf="orderProduct.orderProductExtraInfo">{{orderProduct.orderProductExtraInfo.deliveryDate | date : 'dd-MM-yy'}}</div>
                    </div>
                    <div class="t-col-4 display-inline ">{{orderProduct.productName}}</div>
                    <div class= "t-col-5 display-inline ">{{orderProduct.productQuantity}}</div>

              </div>
            </div>
          </section>

          <section class="order-body-feedback border-bottom">
            <div class="bold display-inline">Presentation & Quality :</div>
            <div class="feedback-check-box display-inline">
                    <div class="fd-option display-inline">
                        <input id="ex" name="feedback" value="Excellent" type="checkbox">
                        <label id="ex">Excellent</label>
                    </div>

                    <div class="fd-option display-inline">
                        <input id="vgud" name="feedback" value="Very Good" type="checkbox">
                        <label id="vgud">Very Good</label>
                    </div>

                    <div class="fd-option display-inline">
                        <input id="gud" name="feedback" value="Good" type="checkbox">
                        <label id="gud">Good</label>
                    </div>

                    <div class="fd-option display-inline">
                        <input id="fair" name="feedback" value="Fair" type="checkbox">
                        <label id="fair">Fair</label>
                    </div>

                    <div class="fd-option display-inline">
                        <input id="tbi" name="feedback" value="To Be Improved" type="checkbox">
                        <label id="tbi">To Be Improved</label>
                    </div>
             </div>
          </section>

          <section class="order-body-footer" style="padding-right: 0;">
            <div class="display-inline w45 border-right col1" style="width: 44%;">
                <div class="bold display-inline">Recipient's Name : </div>
                <div class="display-inline sign-box border-bottom">&nbsp;</div>
            </div>

            <div class="display-inline col2">
                <div class="bold display-inline">Recipient's Signature : </div>
                <div class="display-inline sign-box border-bottom right-sign-box">&nbsp;</div>
            </div>

          </section>

        </section>
      </section>
     <!--<h3>Order !</h3>
        <div class="col-md-12 order-row" style="margin-bottom: 0;">
            <div class="container-fluid orders-tray">
                <div class="row delivery-details">
                    <div class="col-md-7 order-details no-padding">
                        <p>
                            <span class="order-id">Order ID: {{order.orderId}}</span>
                        </p>
                        <div class="text-bold">Deliver to: {{order.deliveryName}}</div>
                        <div class="address">Address - {{order.deliveryStreetAddress}}, <span *ngIf="order.deliveryStreetAddress2">{{order.deliveryStreetAddress2}},</span>s{{order.deliveryCity}}-{{order.deliveryPostcode}}, {{order.deliveryState}}</div>
                        <div class="contact">CONTACT NUMBER - {{order.deliveryMobile}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let orderProduct of order.orderProducts; let z='index'">
            <p class="">Product Name: <span class="uppercase text-igp">{{orderProduct.productName}}</span></p>
            <p>Product Components -</p>
            <div class="col-md-12 product-holder" [ngClass]="{'noBtBorder' : (z+1 === order.orderProducts.length)}">
                <div class="row">
                    <div class="col-md-12 no-padding comp1">
                       <span>
                            <div class="product-main">
                                <img class="product-image" src="{{productsURL}}{{orderProduct.productImage}}" alt="product_img">
                            </div>
                            <div class="equal-sign">=</div>
                       </span>

                        <span *ngFor="let prodComponent of orderProduct.componentList; let i='index'">
                            <div class="product-component relative">
                                <div class="component-eggless abs" *ngIf="prodComponent.eggless">Eggless</div>
                                <img class="component-image" src="{{productsCompURL}}{{prodComponent.componentImage}}" alt="Component_img">
                                <div class="component-quantity center-align">QTY-{{prodComponent.quantity | number : '2.0-0'}}</div>
                                <div class="component-name center-align">{{prodComponent.componentName}} </div>
                            </div>
                            <div class="plus-sign" *ngIf="(i+1) !== orderProduct.componentList.length">+</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>-->

 </div>


<div id="order_message_{{getUniqueOrderId(order)}}" class="hide page" *ngIf="printType === 'orderMessage'">
    <section class="messgae-box-cont2">
        <div style="width:100%;">
            <div class="mb1">
                <div class="messBgCont1">
                    <div class="messBgCont2">
                        <img class="imgCenter" src="{{messageBgImage}}" >
                    </div>
                </div>
            </div>
            <div class="mb2">
                <div class="mb">
                    <div class="messgae-box" style="text-align:left;">
                        <!--<p class="message-caption bold upper-txt">Message</p>-->
                        <div class="message-txt"><div style="font-family: message2; margin: 0 auto; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; white-space: -o-pre-wrap; white-space: -pre-wrap; white-space: pre-wrap;">{{order.commments}}</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


