<div class="row" id="order_{{order.orderId}}" class="hide" *ngIf="printType === 'order'">
     <h3>Order !</h3>
        <div class="col-md-12 order-row" style="margin-bottom: 0;">
            <div class="container-fluid orders-tray">
                <div class="row delivery-details">
                    <div class="col-md-7 order-details no-padding">
                        <p>
                            <span class="order-id">Order ID: {{order.orderId}}</span>
                        </p>
                        <div class="text-bold">Deliver to: {{order.deliveryName}}</div>
                        <div class="address">Address - {{order.deliveryStreetAddress}}, <span *ngIf="order.deliveryStreetAddress2">{{order.deliveryStreetAddress2}},</span>s{{order.deliveryCity}}-{{order.deliveryPostcode}}, {{order.deliveryState}}</div>
                        <div class="contact">CONTACT NUMBER - {{order.deliveryMobile}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let orderProduct of order.orderProducts; let z='index'">
            <p class="">Product Name: <span class="uppercase text-igp">{{orderProduct.productName}}</span></p>
            <p>Product Components -</p>
            <div class="col-md-12 product-holder" [ngClass]="{'noBtBorder' : (z+1 === order.orderProducts.length)}">
                <div class="row">
                    <div class="col-md-12 no-padding comp1">
                       <span>
                            <div class="product-main">
                                <img class="product-image" src="{{productsURL}}{{orderProduct.productImage}}" alt="product_img">
                            </div>
                            <div class="equal-sign">=</div>
                       </span>

                        <span *ngFor="let prodComponent of orderProduct.componentList; let i='index'">
                            <div class="product-component relative">
                                <div class="component-eggless abs" *ngIf="prodComponent.eggless">Eggless</div>
                                <img class="component-image" src="{{productsCompURL}}{{prodComponent.componentImage}}" alt="Component_img">
                                <div class="component-quantity center-align">QTY-{{prodComponent.quantity | number : '2.0-0'}}</div>
                                <div class="component-name center-align">{{prodComponent.componentName}} </div>
                            </div>
                            <div class="plus-sign" *ngIf="(i+1) !== orderProduct.componentList.length">+</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

 </div>


<div id="order_message_{{order.orderId}}" class="hide" *ngIf="printType === 'orderMessage'">
    <h3>Order Message !</h3>
        <h6>Order Id - {{order.orderId}}</h6>
        <h6>Deliver to - {{order.deliveryName}}</h6>
        <h6>Address - {{order.deliveryStreetAddress}}, <span *ngIf="order.deliveryStreetAddress2">{{order.deliveryStreetAddress2}},</span>s{{order.deliveryCity}}-{{order.deliveryPostcode}}, {{order.deliveryState}}</h6>
        <h6>CONTACT NUMBER - {{order.deliveryMobile}}</h6>
    <pre>{{order.commments}}</pre>
</div>
