/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Utility css start */
.no-padding {
    padding : 0 ! important;
}

.no-margin {
    margin : 0 ! important;
}

.text-bold {
    font-weight: 600;
}

.text-red {
    color: #C3404E;
}

.uppercase {
    text-transform: uppercase;
}

.center-align {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.bg-green {
    background-color: #00ee39! important;
}

.bg-grey {
    background-color: #EFEFEF! important;
}

.bg-igp {
    background-color: #C3404E! important;
}

.bg-white {
    background-color: #ffffff! important;
}

.bg-green {
    background-color: #25C355! important;
}

.bg-black {
    background-color: #363636! important;
}

.text-igp {
    color: #C3404E! important;
}

.text-white {
    color: #ffffff! important;
}

.text-black {
    color: #000000! important;
}

.text-green {
    color: #25C355! important;
}

.text-grey {
    color: #888888! important;
}

.m-left-1{
    margin-left:1em;
}

.m-top-1{
    margin-top:1em;
}

.auto-margin{
    margin:auto;
}

.comp-auto-margin{
    margin:3.5em auto;
}
/* Utility css end */


.apierror{
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: red;
    padding: 0.5em;
}

.disableBtn{
    pointer-events: none;
    opacity: 0.4;
}

.table-display{
    display: table;
}

.table-inline-display{
    display: inline-table ! important;
}

.table-cell-display{
    display: table-cell;
}

.v-align-middle{
    vertical-align: middle;
}

.btnclear.btnclearenabled{
    pointer-events: none;
    visibility: hidden;
}

.headerVendor{
    top: 0.15em;
    position: absolute;
    color: #ffffff;
    left: 7em;
}

.hideVisibility{
    visibility:hidden;
}

.hide{
    display:none ! important;
}

.noBtBorder{
    border-bottom:0 ! important;
}

.relative{
    position:relative;
}

.abs{
    position:absolute;
}

.img-responsive{
    width:75%;
    margin:-3.5em auto 0;
}

.clk{
    cursor: pointer;
}

.theme-red{
   color: #c3404e ! important;
}

/* datepicker css override - start */
.mydp input.selection{
    font-size:0.90vw ! important;
    font-weight:600 ! important;
}

.mydp .selector {
    margin-left: -8em ! important;
}

.mydp .selectorarrowleft:after, .mydp .selectorarrowleft:before {
    left: 12em ! important;
}

.bydateWidth{
    padding: 0 3px;
}
/* datepicker css override - end */

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* dashBoard counts - start */
.dashboard-tabs ul li{
    padding: 2px 1em 0 0;
}
.DbCount{
    padding-top: 3px;
    text-align: center;
    background: #000;
    width: 40px;
    border-radius: 50%;
    height: 25px;
    color: #fff;
    margin:auto;
}

.dashboard-tabs .DbCount{
    width: 25px ! important;
    right: 4px;
    position: absolute;
    top: 3px;
    font-size: 0.85em;
    height: 25px;
    padding-top: 5px;
}

.dashboard-tabs .DbCount.action{
    background-color: #25C355! important;
}

.dashboard-tabs .DbCount.alertC{
    background-color: #C3404E! important;
}

.dashboard-table .DbCount{
    width: 35px ! important;
    right: 5px;
    position: absolute;
    top: 2px;
    font-size: 0.9em;
    height: 30px;
    padding-top: 5px;
    margin-top: 1em;
    letter-spacing: 1px;
}

.dashboard-table .alertg-action .DbCount{
    background-color: #25C355! important;
}

.dashboard-table .alert-action .DbCount{
    background-color: #C3404E! important;
}


/* dashBoard counts - end */


/* loader - start */
/* App loader */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #C3404E;
    font-size: 10px;
    margin: 25% auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/* common Loader*/
.cloader {
    z-index:9999;
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.cloader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/*.animated {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.yt-loader {
    -webkit-animation-name: horizontalProgressBar;
    animation-name: horizontalProgressBar;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: #fff;
    height: 3px;
    left: 0;
    position: fixed;
    top: 0;
    width: 0%;
    z-index: 9999;
}

@keyframes horizontalProgressBar
{
    0%   {width: 0%;}
    25%  {width: 22%;}
    50%  {width: 55%;}
    75%  {width: 83%;}
    100% {width:100%;}
}

@-webkit-keyframes horizontalProgressBar *//* Safari and Chrome *//*
{
    0%   {width: 0%;}
    25%  {width: 22%;}
    50%  {width: 55%;}
    75%  {width: 83%;}
    100% {width:100%;}
}*/

/* loader - end */


/* responsive css - start */

body{
    font-size: 1vw;
}

@media (max-width: 415px) {
    .navbar-brand {
        font-size:4.2vw;
    }

    .dashboard-tabs{
        padding: 0;
    }

    body{
        font-size: 2.1vw ! important;
    }

    .dashboard-tabs ul li {
        padding:0;
        font-size: 2.8vw;
    }

    .dashboardTable{
        /*margin-top: 5.5em;*/
    }

    .dbTableHeader p{
        font-size: 2.1vw;
    }

    .searchbox{
        margin-top: 1.5em;
        position: static ! important;
        /* left: 0; */
        width: 50em ! important;
        /* right: 0 ! important; */
        /* top: 11.5em ! important; */
    }

    .db-btn-status{
        font-size: 1vw;
    }
}

@media (max-width: 1025px) {
    .db-btn-status{
        font-size: 1vw;
    }
}
/* responsive css - end */
