/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Utility css start */
.no-padding {
    padding : 0 ! important;
}

.no-margin {
    margin : 0 ! important;
}

.text-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.center-align {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.bg-grey {
    background-color: #EFEFEF! important;
}

.bg-igp {
    background-color: #C3404E! important;
}

.bg-white {
    background-color: #ffffff! important;
}

.bg-green {
    background-color: #25C355! important;
}

.bg-black {
    background-color: #363636! important;
}

.text-igp {
    color: #C3404E! important;
}

.text-white {
    color: #ffffff! important;
}

.text-black {
    color: #000000! important;
}

.text-green {
    color: #25C355! important;
}

.text-grey {
    color: #888888! important;
}

.m-left-1{
    margin-left:1em;
}

.auto-margin{
    margin:auto;
}

.comp-auto-margin{
    margin:3.5em auto;
}
/* Utility css end */


.apierror{
    font-weight: 500;
    color: red;
    text-align: center;
    background: #eee;
    padding: 0.5em;
}

.disableBtn{
    pointer-events: none;
    opacity: 0.4;
}
