/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Utility css start */
.no-padding {
    padding : 0 ! important;
}

.no-margin {
    margin : 0 ! important;
}

.text-bold {
    font-weight: 600;
}

.text-red {
    color: #C3404E;
}

.uppercase {
    text-transform: uppercase;
}

.center-align {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.bg-grey {
    background-color: #EFEFEF! important;
}

.bg-igp {
    background-color: #C3404E! important;
}

.bg-white {
    background-color: #ffffff! important;
}

.bg-green {
    background-color: #25C355! important;
}

.bg-black {
    background-color: #363636! important;
}

.text-igp {
    color: #C3404E! important;
}

.text-white {
    color: #ffffff! important;
}

.text-black {
    color: #000000! important;
}

.text-green {
    color: #25C355! important;
}

.text-grey {
    color: #888888! important;
}

.m-left-1{
    margin-left:1em;
}

.auto-margin{
    margin:auto;
}

.comp-auto-margin{
    margin:3.5em auto;
}
/* Utility css end */


.apierror{
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: red;
    padding: 0.5em;
}

.disableBtn{
    pointer-events: none;
    opacity: 0.4;
}

.table-display{
    display: table;
}

.table-inline-display{
    display: inline-table ! important;
}

.table-cell-display{
    display: table-cell;
}

.v-align-middle{
    vertical-align: middle;
}

.btnclear.btnclearenabled{
    pointer-events: none;
    visibility: hidden;
}

.headerVendor{
    top: 0.15em;
    position: absolute;
    color: #ffffff;
    left: 7em;
}

.hideVisibility{
    visibility:hidden;
}

.hide{
    display:none ! important;
}

.noBtBorder{
    border-bottom:0 ! important;
}

.relative{
    position:relative;
}

.abs{
    position:absolute;
}

.img-responsive{
    width:75%;
    margin:-3.5em auto 0;
}

.clk{
    cursor: pointer;
}

.theme-red{
   color: #c3404e ! important;
}

/* datepicker css override - start */
.mydp input.selection{
    font-size:0.90vw ! important;
    font-weight:600 ! important;
}

.mydp .selector {
    margin-left: -8em ! important;
}

.mydp .selectorarrowleft:after, .mydp .selectorarrowleft:before {
    left: 12em ! important;
}

.bydateWidth{
    padding: 0 3px;
}
/* datepicker css override - end */




