@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
html{
    font-size: 14px;
}

body{
    -webkit-overflow-scrolling: touch; /* for iPhone*/
    padding-top: 62px;
}
/* Utility css start */
.notVisible{
    visibility: hidden;
}

.caption{
    font-weight:600;
    font-size:1.1em;
}

.capitalize{
    text-transform: capitalize;
}

.borderRight{
    border-right: 2px solid #E0E0E0;
}

.borderLeft{
    border-left: 2px solid #E0E0E0;
}

.no-padding {
    padding : 0 ! important;
}

.no-margin {
    margin : 0 ! important;
}

.text-bold {
    font-weight: 600;
}

.text-red {
    color: #C3404E;
}

.uppercase {
    text-transform: uppercase;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.bg-green {
    background-color: #00ee39! important;
}

.bg-grey {
    background-color: #EFEFEF! important;
}

.bg-igp {
    background-color: #C3404E! important;
}

.bg-white {
    background-color: #ffffff! important;
}

.bg-green {
    background-color: #25C355! important;
}

.bg-black {
    background-color: #363636! important;
}

.text-igp {
    color: #C3404E! important;
}

.text-white {
    color: #ffffff! important;
}

.text-black {
    color: #000000! important;
}

.text-green {
    color: #25C355! important;
}

.text-grey {
    color: #888888! important;
}

.m-left-1{
    margin-left:1em;
}

.m-top-1{
    margin-top:1em;
}

.m-top-2{
    margin-top:2em;
}

.m-b-1{
    margin-bottom:1em;
}

.m-b-05{
    margin-bottom:0.5em;
}

.auto-margin{
    margin:auto;
}

.comp-auto-margin{
    margin:3.5em auto;
}

.inline{
    display:inline-block;
}

.block{
    display:block;
}

.underLine{
    border-bottom:1px solid #f2f2f2;
}

.paddingHalf{
    padding:0.5em;
}

.padding1{
    padding:1em;
}


/* Utility css end */

.apierror{
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: red;
    padding: 0.5em;
}

.disableBtn{
    pointer-events: none;
    opacity: 0.4;
}

.table-display{
    display: table;
}

.table-inline-display{
    display: inline-table ! important;
}

.table-cell-display{
    display: table-cell;
}

.v-align-middle{
    vertical-align: middle;
}

/*.btnclear.btnclearenabled{
    pointer-events: none;
    visibility: hidden;
}*/

.headerVendor{
    top: 0.15em;
    position: absolute;
    color: #ffffff;
    left: 7em;
}

.hideVisibility{
    visibility:hidden;
}

.hide{
    display:none ! important;
}

.noBtBorder{
    border-bottom:0 ! important;
}

.relative{
    position:relative;
}

.abs{
    position:absolute;
    /* position: fixed; */
}

.img-responsive{
    width:75%;
    margin:-3.5em auto 0;
}

.clk{
    cursor: pointer;
}

.theme-red{
   color: #c3404e ! important;
}

/* datepicker css override - start */
.mydp input.selection{
    font-size:0.90vw ! important;
    font-weight:600 ! important;
}

/*.mydp .selector {*/
    /*margin-left: -8em ! important;*/
/*}*/

.mydp .selectorarrowleft:after, .mydp .selectorarrowleft:before {
    left: 12em ! important;
}

.bydateWidth{
    padding: 0 3px;
}

/*.mydp input {
    pointer-events: none ! important;
}*/

.mydp, .mydp .headertodaybtn {
    border: 0.1em solid #CCC ! important;
}
/* datepicker css override - end */

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* dashBoard counts - start */
.dashboard-tabs ul li{
    padding: 2px 1em 0 0;
}
.DbCount{
    padding-top: 3px;
    text-align: center;
    background: #000;
    width: 40px;
    border-radius: 50%;
    height: 25px;
    color: #fff;
    margin:auto;
}

.dashboard-tabs .DbCount{
    width: 25px ! important;
    right: 4px;
    position: absolute;
    top: 3px;
    font-size: 0.85em;
    height: 25px;
    padding-top: 5px;
}

.dashboard-tabs .DbCount.action{
    background-color: #25C355! important;
}

.dashboard-tabs .DbCount.alertC{
    background-color: #C3404E! important;
}

.dashboard-table .DbCount{
    width: 35px ! important;
    right: 5px;
    position: absolute;
    top: 2px;
    font-size: 0.9em;
    height: 30px;
    padding-top: 5px;
    margin-top: 1em;
    letter-spacing: 1px;
}

.dashboard-table .alertg-action .DbCount{
    background-color: #25C355! important;
}

.dashboard-table .alert-action .DbCount{
    background-color: #C3404E! important;
}


/* dashBoard counts - end */


/* loader - start */
/* App loader */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #C3404E;
    font-size: 10px;
    margin: 25% auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/* common Loader*/
.cloader {
    z-index:9999;
    height: 4px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #ddd;
}
.cloader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/*.animated {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.yt-loader {
    -webkit-animation-name: horizontalProgressBar;
    animation-name: horizontalProgressBar;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: #fff;
    height: 3px;
    left: 0;
    position: fixed;
    top: 0;
    width: 0%;
    z-index: 9999;
}

@keyframes horizontalProgressBar
{
    0%   {width: 0%;}
    25%  {width: 22%;}
    50%  {width: 55%;}
    75%  {width: 83%;}
    100% {width:100%;}
}

@-webkit-keyframes horizontalProgressBar *//* Safari and Chrome *//*
{
    0%   {width: 0%;}
    25%  {width: 22%;}
    50%  {width: 55%;}
    75%  {width: 83%;}
    100% {width:100%;}
}*/

/* loader - end */


/* responsive css - start */

body .dashboard-content, body .orders-button{
    font-size: 0.92vw;
}

/*body #mainOrderSection{
    font-size: 0.92vw;
}*/

@media screen and (max-width: 799px) and (min-width: 300px) {
    .navbar-brand {
        font-size:4.2vw;
    }

    .dashboard-tabs{
        padding: 0;
    }

    body{
        font-size: 2.1vw ! important;
    }

    body .dashboard-content{
        font-size: 3vw ! important;
    }

    .dashboard-tabs ul li {
        padding:0;
        font-size: 2.5vw;
    }

    .dashboardTable{
        margin-top: 4em ! important;
    }

    .dbTableHeader p{
        font-size: 2.1vw;
    }

    .searchbox{
        /*margin-top: 1.5em;*/
        position: static ! important;
        /* left: 0; */
        /*width: 43em ! important;*/
        /* right: 0 ! important; */
        /* top: 11.5em ! important; */
    }

    .db-btn-status{
        font-size: 3vw ! important;
    }

    .table-display {
        width: 100%;
    }

    .mydp input.selection {
        font-size: 3vw ! important;
        font-weight: 600 ! important;
    }

    .mydp .selector {
        margin-left: -1em ! important;
    }

    .orders-action{
        width:100% ! important;
        overflow-x:hidden ! important;
        border-left: none ! important;
    }

    .order-row {
        padding: 1em 2em ! important;
        margin: 15px 0 ! important;
        background-color: white;
        box-shadow: 0 1px 3px #888888;
        width: 100% ! important;
    }

    .hide-tray{
        right:-100% ! important;
    }

    .sidePanelHeader{
        width:100% ! important;
    }

    body #mainOrderSection{
        font-size: 3vw;
    }

    .colInline{
        display:inline-block ! important;
    }

    .dtm{
        display:flex ! important;
    }

    .cellNoHeight{
        height : auto ! important;
    }

    .deliverOrdered1{
        left: 1.1em ! important;
        top: 1.6em ! important;
    }

    .deliverOrdered2{
        margin-left:0 ! important;
        margin-top: 0.5em ! important;
    }

    .searchCross{
        top: 2em ! important;
        right: 10.6em ! important;
    }
}

@media (max-width: 1025px) {
    .db-btn-status{
        font-size: 1vw;
    }
}


@media (max-width: 767px) {
    .page.col-sm-3 {
        width: 25%;
        float: left;
    }
    .page.col-sm-6 {
        width: 50%;
        float: left;
    }
    .page.col-sm-9 {
        width: 75%;
        float: left;
    }
}
/* responsive css - end */

.inactive{
    opacity: 0.2;
    pointer-events: none;
}

.bg-loader{
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer  ! important;
    animation-timing-function: linear  ! important;
    background: #f2f2f2  ! important;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #f2f2f2), color-stop(18%, #e2e2e2), color-stop(33%, #f2f2f2))  ! important;
    background: -webkit-linear-gradient(left, #f2f2f2 8%, #e2e2e2 18%, #f2f2f2 33%)  ! important;
    background: linear-gradient(to right, #f2f2f2 8%, #e2e2e2 18%, #f2f2f2 33%)  ! important;
    background-size: 800px 104px  ! important;
    position: relative  ! important;
    -webkit-transform-style: preserve-3d  ! important;
    transform-style: preserve-3d  ! important;
}

@-webkit-keyframes placeHolderShimmer{
    0%{
        background-position: -220px 0
    }
    100%{
        background-position: 220px 0
    }
}
@-moz-keyframes placeHolderShimmer{
    0%{
        background-position: -220px 0
    }

    100%{
        background-position: 220px 0
    }
}
@-o-keyframes placeHolderShimmer{
    0%{
        background-position: -220px 0
    }
    100%{
        background-position: 220px 0
    }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -220px 0
    }
    100%{
        background-position: 220px 0
    }
}

.icon{
    cursor: pointer;
}

.icon.s img{
    width: 1em;
}

.icon.m img{
    width: 1.5em;
}

.icon.l img{
    width: 2em;
}

.icon img.arrowU{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.customSelect {
    /*border: none ! important;*/
    background: none ! important;
}

.popupSize1{
    width:35% ! important;

}

.removeScroll{
    overflow:hidden;
}

.slideropen{
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.sliderclosed {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* online/offline css start */
#status {
    word-spacing: 5px;
    letter-spacing: 2px;
    display:none;
    z-index: 9;
    /*position: fixed;*/
    width: 100%;
    /*font: bold 1em sans-serif;*/
    color: #FFF;
    padding: 0.5em 0.5em;
    text-align: center;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.online {
    background: green;
    display:block ! important;
}

.offline {
    background: red;
    display:block ! important;
}
/* online/offline css end */


/* override css - start */
/* order-button comp */
.adminDB{
    padding:0;
}

.dbMobile .adminDB{
    height: 50px ! important;
    border: none ! important;
}

.adminDB .orders-button{
    width: 100% ! important;
    font-size: 1em ! important;
    box-shadow: 0 1px 3px #444242 ! important;
}

.adminDB .both .orders-button{
    float:left;
    width: 48.5% ! important;
}

.adminDB .secBtn.both .orders-button{
    margin-left:3% ! important;
}

.adminDB .orders-button:hover{
    opacity:0.9;
    font-size:1.1em ! important;
}
/* override css - end */


.dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu .dropdown-item:hover{
    background:#eee;
}

.triangle-topright {
    top: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    width: 0;
    height: 0;

    border-left: 70px solid transparent;
}

.triangle-topright.mob{
    right: 1.2em;
}

.triangle-topright.redBorder{
    border-top: 70px solid #C3404E;
}

.triangle-topright.greenBorder{
    border-top: 70px solid #25C355;
}

.triangle-topright.whiteBorder{
    border-top: 70px solid #fff;
    color:#C3404E;
}

/* input error - start*/
.inputError{
    border:1px solid red;
}
/* input error - end*/

/* Common Class */
.text-align-center{
    text-align: center;
}
.m-8{
    margin: 8px;
}
.d-flex{
    display: flex !important;
}
.flex-0{
    flex: 0;
}
.flex-1{
    flex: 1;
}
.align-items-center{
    align-items: center !important;
}
.justify-content-center{
    justify-content: center !important;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.justify-content-flex-start{
    justify-content: end;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-baseline{
    align-items: baseline;
}
.flex-direction-column{
    flex-direction: column;
}
.snackbar-background {
    background: #C3404E;
}
.full-width{
    width: 100%;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.width-fit-content{
    width: fit-content;
}
/* common Ends */
.is-active {
    background: #fff;
    color: #C3404E !important;
}
