<section class="blog-list-container">
    <br/>
    
    <div class="container-fluid">
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h2>
                                Blog Posts
                        </h2><br/>
                        <h3 class="panel-title">You can view blogs here...</h3>
                    </div>
            <div *ngIf="showGrid;else other_content" class="panel-body">
                
                    <button type="submit" class="btn btn-primary pull-right">Create</button><br>
                    <table class="table table-hover">
                        <thead>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Store</th>
                            <th>Category</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of blogList.data.bloglist">
                                    <td>{{list.id}}</td>
                                    <td>{{list.title}}</td>
                                    <td>{{list.shortdescription}}</td>                                   
                                    <td>{{list.parentcategory.title}}</td>
                                    <!-- <td *ngFor="let category of list.parentcategory">{{category.title}}</td> -->
                                    <td>
                                            <button class="btn"><i class="fa fa-pencil"></i></button>
                                            <button class="btn"><i class="fa fa-eye"></i></button>                                        
                                            <button class="btn" (click)="deletePost(list)"><i class="fa fa-trash"></i></button>
                                    </td>                                 
                            </tr>
                        </tbody>
                    </table>
            </div>
            
            <div class="panel-body">
                    <ng-template #other_content style="text-align: center;">Loading...</ng-template>
            </div>
        </div>
    </div>
</section>