.table td{
    text-align: center;   
 }
 th{
     text-align: center;
 }

 #filter{
     margin-right: 5px;
 }
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
     vertical-align: middle;
 }

 .edtview{
    color: #333333;
 }