
<section class="blog-list-container">
    <br/>
    <div class="container-fluid">
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 style="margin: 0px;">
                                Blog Posts
                        </h2><br/>
                        <h3 class="panel-title">You can view blogs here...</h3>
                    </div>
            <div *ngIf="showGrid;else other_content" class="panel-body">
                    <button type="submit"  class="btn btn-primary pull-right"><a style="color: white;text-decoration: none;" ng-href="#/blog-create" routerLink="/blog-create">Create</a></button><br/>
                    <!-- <button type="submit" id="filter" class="btn btn-primary pull-right">Filter</button><br>  -->
                    <table class="table table-hover">
                        <thead>
                            <!-- <th>Id</th> -->
                            <th>Title</th>
                            <th>Store</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of blogList.data.bloglist">
                                    <!-- <td>{{list.id}}</td> -->
                                    <td>{{list.title}}</td>
                                    <td>{{list.fkasidname}}</td>                                   
                                    <td>
                                                <span *ngFor="let category of list.category">{{category.title}}<br/></span>
                                    </td>
                                    <td *ngIf="list.status == 0">UnPublished</td>
                                    <td *ngIf="list.status == 1">Published</td>
                                    <!-- <td *ngFor="let category of list.parentcategory">{{category.title}}</td> -->
                                    <td>
                                            <button class="btn" (click)="editBlog(list)" title="Edit"><a class="edtview" ng-href="#/blog-view" routerLink="/blog-view/{{list.id}}/edit"><!--<i class="fa fa-pencil"></i>-->
                                        <mat-icon>create</mat-icon></a></button>
                                            <button class="btn" (click)="viewBlog(list)" title="View"><a class="edtview" ng-href="#/blog-view" routerLink="/blog-view/{{list.id}}/view"><!--<i class="fa fa-eye"></i>-->  
                                                <mat-icon>visibility</mat-icon></a></button>                                        
                                            <button class="btn" (click)="deleteBlog(list)" title="Delete"><!--<i class="fa fa-trash"></i>--><mat-icon>delete</mat-icon></button>
                                            <button class="btn" *ngIf="list.status == 0" (click)="publishUnpublishBlog(list)" title="Publish Blog"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                                            <button class="btn" *ngIf="list.status == 1" (click)="publishUnpublishBlog(list)" title="UnPublish Blog"><!--<i class="fa fa-cloud-download" aria-hidden="true"></i>-->
                                                <mat-icon aria-hidden="true">cloud_download</mat-icon>
                                        </button>
                                    </td>                                 
                            </tr>
                        </tbody>        
                    </table>
            </div>
            
            <div class="panel-body">
                    <ng-template #other_content style="text-align: center;">Loading...</ng-template>
            </div>

        </div>
    </div>
</section>

