<mat-sidenav-container (backdropClick)="sidenavClose('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="sidenavClose('escape')" disableClose>
    <!-- Sidebar Errors -->
    <!-- <p><button mat-button (click)="sidenavClose('toggle button')">Close</button></p> -->
    <mat-card *ngFor="let ele of responseDataPut?.data?.error">
      {{ele.msg}} in Row: {{ele.row}}
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
        <div class="searchField">
          <div class="width50">
            <mat-card>
              <div class="form-container">
                <div class="d-flex">
                  <div class="width50">
                    <mat-form-field class="width100">
                      <mat-label class="mat-label">Enter Original Barcode, Warehouse, Mapped Barcode </mat-label>
                      <textarea matInput formControlName="excelData"
                        placeholder="{{'\n'}} You can copy-paste from excelsheet" rows="10" col='20'></textarea>
                    </mat-form-field>
                    <mat-hint></mat-hint>
                  </div>
                  <div style="width:1px; border-left:2px #ccc dotted"></div>
                  <div class="width50">
                    <div style="margin-top: 25%; text-align: center;">
                      <input type="file" id="file" (change)="readExcel($event)" />
                      <label for="file" class="btn-2" (change)="readExcel($event)">Upload Excel</label>
                    </div>
                  </div>
                </div>
                <div class="d-flex;" style="text-align: center; ">
                  <button class="btnRadius" id="view" type="submit" mat-raised-button
                    (click)="btnType = 'view'">View</button>
                  <button class="btnRadius" id="add" type="submit" mat-raised-button
                    (click)="btnType = 'add'">Add</button>
                </div>
              </div>
            </mat-card>
          </div>

          <div class="width50">
            <mat-card>
              <div class="form-container">
                <div class="d-flex">
                  <div class="width50">
                    <mat-form-field>
                      <mat-label>Enter SKU IDs</mat-label>
                      <textarea matInput formControlName="sku_id" placeholder="You can enter multiple SKU IDs" rows="10"
                        col='20'></textarea>
                    </mat-form-field>
                  </div>
                  <div class="width50">
                    <mat-form-field>
                      <mat-label>Source</mat-label>
                      <mat-select formControlName="source" [(value)]='searchForm.value.source'>
                        <mat-option *ngFor="let option of warehouseList" [value]="option">
                          {{option.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="d-flex;  r-buttons">
                  <button class="btnRadius" id="search" type="submit" mat-raised-button
                    (click)="btnType = 'search'">Search</button>
                  <button class="btnRadius" id="clear" type="submit" mat-raised-button
                    (click)="btnType = 'clear'">Clear</button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
      <!-- Table Contents -->
      <!--  ">orgBarCode", "warehouse", "mappedBarCode" -->
      <div class="mat-elevation-z4 btnRadius" style="border:1px solid #ccc"
        *ngIf="dataSource?.data?.length > 0 else noRecord">
        <div clss="mat-elevation-z8" style="border-bottom:1px solid #ddd" class="btnRadius">
          <button class="btnRadius" color="warn" id="search" mat-raised-button (click)="deleteSelectedRows()"
            [disabled]="!selection?._selected?.length>0">
            Delete Selected
            <span class="badge" *ngIf="selection?._selected?.length>0">{{selection?._selected?.length}}</span>
          </button>
          <div style="float:right; display:inline">
            <button class="btnRadius saveButton" mat-raised-button (click)="saveAllChanges()" [disabled]="!openEdits>0"> Save
              Changes
              <span class="badge" *ngIf="openEdits>0">{{openEdits}}</span>
            </button>
            <button class="btnRadius" mat-raised-button (click)="cancelAllChanges()" [disabled]="!openEdits>0"> Cancel
              Changes
            </button>
          </div>
        </div>
        <form [formGroup]="tableform">
          <mat-table #table [dataSource]="dataSource" formArrayName="tableEntries">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row,let index=index">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="orgBarCode">
              <mat-header-cell *matHeaderCellDef> Original Barcode </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">
                {{row.orgBarCode||'-'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="warehouse">
              <mat-header-cell *matHeaderCellDef> Warehouse </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">
                {{row.warehouse||'-'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mappedBarCode">
              <mat-header-cell *matHeaderCellDef> Mapped Barcode </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index"
                [formGroupName]="index + paginator?.pageIndex * paginator?.pageSize">
                <span *ngIf="!row.editable">
                  {{row.mappedBarCode||'-'}}
                </span>
                <input *ngIf="row.editable" type="text" formControlName="mappedBarCode">
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">
                <button mat-button class="btnRadius" *ngIf="!row.editable" (click)="enableRowEdit(row)">
                  Edit
                </button>
                <button mat-button class="btnRadius" color="primary" *ngIf="row.editable"
                  (click)="saveRowEdit(row,index)">Save</button>
                <button mat-button class="btnRadius" color="warn" *ngIf="row.editable"
                  (click)="cancelRowEdit(row,index)">Cancel</button>

              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
            <mat-row *matRowDef="let row; let i = index; columns: tableHeaders;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" length="{{dataSource?.length}}" showFirstLastButtons>
          </mat-paginator>
          <!-- <button type="button" (click)="addRow()">Add row</button> -->
        </form>
      </div>
      <ng-template #noRecord>
        <mat-card style="color: #C3404E;">No Record</mat-card>
      </ng-template>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>