textarea {
    resize: none !important;
}

::ng-deep .mat-label {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}

.btnRadius {
    margin: 10px;
    border-radius: 5px;
}

textarea::-webkit-scrollbar {
    width: 8px;
    background-color: #fafafa;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aaa;
}

.searchField {
    display: flex;
    /* border: 1px solid red; */
    position: relative;
}

.updateField {
    margin: 0.1em 0.5em;
    width: 75% !important;
    padding: 15px;
    display: inline-block;
    /* border: 1px solid red; */
}

.width50 {
    /* border: 1px solid green; */
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    margin: 10px
    /* display: inline-block !important; */
}

.width100 {
    width: 100%
}

.r-buttons {
    text-align: right;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label:hover {
    background-color: darken(#f15d22, 10%);
}

[type="file"]+label.btn-2 {
    background-color: #c3404e;
    border-radius: 50px;
    overflow: hidden;
}

/* 
[type="file"]+label.btn-2::before {
    color: #fff;
    content: '\e198';
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
} */

[type="file"]+label.btn-2:hover {
    background-color: #8a2630;
}

[type="file"]+label.btn-2:hover::before {
    right: 75%;
}

table {
    width: 100%;
}

.mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}