.main-header {
    background-color: #C3404E;
    border-radius: 0;
}

/*.logout {
    font-size: 12px;
}*/

.navbar {
    margin-bottom: 0;
}

.main-header * {
    color: #ffffff;
    /*font-weight: 400;*/
}

.navbar-brand {
    padding: 16px 20px;
    font-weight: 500;
}

.logout {
    color: white;
    font-size: 16px;
    margin-top: 1em;
    cursor:pointer;
}

.logout:hover {
    color: white;
}

.fullHeightLi{
    margin-right: 1em;
    font-size: 16px;
    padding: 1em 1em 0.5em;
}

.fullHeightLi.selected{
    background: #fff;
}

.fullHeightLi.selected p{
    color: #c3404e;
}

.reportDropdown{
    box-shadow: 0 1px 3px #888;
    right:0;
    top: 3.5em;
    background: #c3404e;
    padding: 0;
    z-index: 9999;
    border-top: 1px solid #fff;
}

.reportsdropdownMenu li{
    list-style-type: none;
    white-space: nowrap;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #fff;
}

.reportsdropdownMenu li>a{
    color: #fff;
}

.reportsdropdownMenu li.selected{
    background: #fff;
}

.reportsdropdownMenu li.selected>a, .navRight li.selected>p>a, .navRight li.selected>p{
    color: #c3404e;
}

.reportsdropdownMenu li a, .navRight li a{
    text-decoration:none ! important;
}

.reportsdropdownMenu li:last-child{

}

.navRight li{
    cursor:pointer;
}
