<nav class="navbar navbar-default main-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">IGP - Handels <ng-container *ngIf="vendorName">- {{vendorName}}</ng-container></span>
        <span  class="logout pull-right" (click)="logout($event)" *ngIf="isMobile && vendorName" style="margin-right: 0.5em;">
            <i class="icon glyphicon glyphicon-off"></i>
        </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navRight" id="bs-example-navbar-collapse-1" *ngIf="!isMobile && vendorName">
      <ul class="nav navbar-nav navbar-right">
        <ng-container *ngIf="(userType !== 'upload') && (userType !== admin)">
            <li class="fullHeightLi" [ngClass]="{'selected' : selectedTopTab === 'dashboard'}">
              <p><a ng-href="#/dashboard" routerLink="/dashboard">Dashboard</a></p>
            </li>
            <li class="fullHeightLi relative" [ngClass]="{'selected' : selectedTopTab === 'reports'}" (click)="openReportDropdown($event)">
               <p>Reports</p>
                <div class="reportDropdown abs" [ngClass]="{'slideropen' : reportDropdownOpen, 'sliderclosed': !reportDropdownOpen}">
                    <ul class="reportsdropdownMenu no-padding">
                        <a routerLink="/reports/getOrderReport"><li [ngClass]="{'selected' : selectedReportTab === 'getOrderReport'}">Order Report</li></a>
                        <a routerLink="/reports/getVendorReport"><li [ngClass]="{'selected' : selectedReportTab === 'getVendorReport'}">Product Report</li></a>
                        <a routerLink="/reports/getPincodeReport"><li [ngClass]="{'selected' : selectedReportTab === 'getPincodeReport'}">Pincode Report</li></a>
                        <a class="" routerLink="/reports/getPayoutAndTaxesReport"><li [ngClass]="{'selected' : selectedReportTab === 'getPayoutAndTaxesReport'}">Payout & Taxes</li></a>
                    </ul>
                </div>
            </li>
        </ng-container>
        <li>
            <!--<a href="#" class="logout" [routerLink]="['/login']">Logout
              <i class="icon glyphicon glyphicon-off"></i>
            </a>-->

            <div  class="logout" (click)="logout($event)">Logout
              <i class="icon glyphicon glyphicon-off"></i>
            </div>

        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

