.main-header {
    background-color: #C3404E;
    border-radius: 0;
}

/*.logout {
    font-size: 12px;
}*/

.navbar {
    margin-bottom: 0;
}

.main-header * {
    color: #ffffff;
    /*font-weight: 400;*/
}

.navbar-brand {
    padding: 16px 20px;
    font-weight: 500;
}

.logout {
    color: white;
    font-size: 16px;
    margin-top: 1em;
    cursor:pointer;
}

.logout:hover {
    color: white;
}

.fullHeightLi{
    margin-right: 1em;
    font-size: 16px;
    padding: 1em 1em 0.5em;
}

.fullHeightLi.selected{
    background: #fff;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}

.fullHeightLi.selected p{
    color: #c3404e;
    -webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.reportDropdown{
    /* left:0; */
    top: 3.5em;
    background: #c3404e;
    padding: 0;
    z-index: 2;
    border-top: 1px solid #fff;
    right: 0;
}

.reportDropdown.slideropen{
    box-shadow: 0 1px 3px #888;
}
.reportsdropdownMenu{
    overflow: auto;
    max-height: 500px;
}
.reportsdropdownMenu li{
    list-style-type: none;
    white-space: nowrap ! important;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #fff ! important;
}

.reportsdropdownMenu li:last-child{
    border-bottom: none;
}

.reportsdropdownMenu li>a{
    color: #fff;
}

.reportsdropdownMenu li.selected{
    background: #fff;
}

.reportsdropdownMenu li.selected, .navRight li.selected>p, .navRight li.selected>p>a{
    color: #c3404e ! important;
}

.reportsdropdownMenu ul a, .navRight ul a{
    text-decoration:none ! important;
}

.reportsdropdownMenu li:last-child{

}

.navRight li{
    cursor:pointer;
}
.navbar {
    position: fixed;
    top:0;
    min-height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid transparent;
    z-index: 99;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    min-height: 5px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C3404E; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f2f2f2; 
  }