<nav class="navbar navbar-default main-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">IGP - Handels  </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navRight" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="fullHeightLi" [ngClass]="{'selected' : selectedTopTab === 'dashboard'}">
          <p><a ng-href="#/dashboard" routerLink="/dashboard">Dashboard</a></p>
        </li>
        <li class="fullHeightLi relative" [ngClass]="{'selected' : selectedTopTab === 'reports'}" (click)="openReportDropdown($event)">
           <p>Reports</p>
            <div class="reportDropdown abs" [ngClass]="{'slideropen' : reportDropdownOpen, 'sliderclosed': !reportDropdownOpen}">
                <ul class="reportsdropdownMenu no-padding">
                    <li [ngClass]="{'selected' : selectedReportTab === 'getOrderReport'}"><a routerLink="/reports/getOrderReport">Order Report</a></li>
                    <li [ngClass]="{'selected' : selectedReportTab === 'getVendorReport'}"><a routerLink="/reports/getVendorReport">Vendor Report</a></li>
                    <li [ngClass]="{'selected' : selectedReportTab === 'getPincodeReport'}"><a routerLink="/reports/getPincodeReport">Pincode Report</a></li>
                </ul>
            </div>
        </li>
        <li>
            <!--<a href="#" class="logout" [routerLink]="['/login']">Logout
              <i class="icon glyphicon glyphicon-off"></i>
            </a>-->

            <div  class="logout" (click)="logout($event)">Logout
              <i class="icon glyphicon glyphicon-off"></i>
            </div>

        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

